footer {
	margin-top: 35px; 
	background-color:$brand-primary-color;

    font-size:10px;
	text-align: center;
    padding:30px;
	.copyright {
		display: block; 
		margin-bottom:8px; 
	}  
	.footer-links {
		ul {
			text-align: -webkit-match-parent;
			display: inline-block;
			li {
				padding: 0 5px; 
				display: inline-block; 
				text-align: -webkit-match-parent; 
			} 
			li, a {
				color: #fff; 
			}
			li:hover, a:hover {
				text-decoration: underline;
				cursor: pointer; 
			}
		}
	}
    .footer-border {
        padding:0px;
        border-top:0px;
    }	
}