

// Table of ontents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


// Main Header
$header-background-color: white;

// Fonts
$lead-font-weight: 300  !default;

// Buttons
$primary-btn-color: #196B8E;
$primary-btn-color-visited: #196B8E;
$primary-btn-color-hover: #3199F0;

// Screen Size Breakpoints
$screen-xs-min: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Brand Highlight Color
$brand-primary-color: #196B8E;
$brand-primary-color-darker: #3199F0;
$brand-highlight-color: #196b8e;
$brand-secondary-highlight-color: #3199F0;


/* 1. Global */
$font-stack:    'Lato', Arial, Helvetica, sans-serif;
$primary-color: #196B8E;
$heading-color: #3199F0;
$button-color: #196B8E;

/* 2. Skin colors */
$light-blue-color: #f58a72;
$purple-color: #9f60b5;
$orange-color: #ff6000;
$light-orange-color: #5D979B;
$sea-blue-color: #0ab596;
$sky-blue-color: #6dace6;
$dark-orange-color: #ff3e3e;
$dark-blue-color: #194eb0;
$light-yellow-color: #ffd200;
$red-color: #e44049;





/* 3. Skin logos */
$skin1-logo: "/apps/assets/images/logo/skin1-logo.png";
$skin2-logo: "/apps/assets/images/logo/skin2-logo.png";
$skin3-logo: "/apps/assets/images/logo/skin3-logo.png";
$skin4-logo: "/apps/assets/images/logo/skin4-logo.png";
$skin5-logo: "/apps/assets/images/logo/skin5-logo.png";
$skin6-logo: "/apps/assets/images/logo/skin6-logo.png";
$skin7-logo: "/apps/assets/images/logo/skin7-logo.png";
$skin8-logo: "/apps/assets/images/logo/skin8-logo.png";
$skin9-logo: "/apps/assets/images/logo/skin9-logo.png";
$skin10-logo: "/apps/assets/images/logo/skin10-logo.png";

/* 4. Important colors */
$yellow-theme-color: #fdb714;
$dark-yellow-theme-color: #efa300;
$green-theme-color: #5D979B;
$blue-theme-color: #f58a72;
$dark-blue-theme-color: #2d3e52;
$red-theme-color: #e01a33;
$light-blue-theme-color: #7c9abd;



$skin-logo: $skin8-logo;
$skin-bg-color: $blue-theme-color;
$skin-active-color: $dark-blue-color;
$skin-select-color: $blue-theme-color;
$skin-hover-color: #40cbf8;
$skin-mobile-menu-color: #04afe7;
$skin-light-color: $light-blue-theme-color;
$skin-dark-color: $dark-blue-theme-color;






// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// $gray-dark:                 #373a3c !default;
// $gray:                      #55595c !default;
// $gray-light:                #818a91 !default;
// $gray-lighter:              #eceeef !default;
// $gray-lightest:             #f7f7f9 !default;

// $brand-primary:             #0275d8 !default;
// $brand-success:             #5cb85c !default;
// $brand-info:                #5bc0de !default;
// $brand-warning:             #f0ad4e !default;
// $brand-danger:              #d9534f !default;
