<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{vm.title}}
    </div>

    <div class=col-lg-4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">Device ID:</div>
                    <div class="col-md-6">{{vm.device.DeviceId}}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Device Status:</div>
                    <div ng-style="set_color(vm.device)" class="col-md-6">{{vm.device.DeviceStatus | deviceStatus }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">DKi Value:</div>
                    <div class="col-md-6">{{vm.device.DKiIndex }}</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">AID:</div>
                    <div class="col-md-6">{{vm.device.Aid }}</div>
                    <!--<div class="col-md-5">{{vm.device.releaseDate|date }}</div>-->
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">Extended Measurement:</div>
                    <div class="col-md-6">{{vm.device.Sha }}
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" title="Check the Integrity of.." ng-click="vm.calculatePrice()">
                            Check Integrity
                        </button>
                    </div>
                    <!--<div class="col-md-5">{{vm.device.cost|currency }}</div>-->
                </div>
                <!--<div class="row">
                    <div class="col-md-2">Staged Manifest:</div>
                    <div class="col-md-6">{{ vm.device.price|currency }}</div>
                     <div class="col-md-4"></div>
                </div>-->
                <!--<div class="row">
                    <div class="col-md-2">Margin:</div>
                    <div class="col-md-6">{{ vm.marginPercent | number:0}}%</div>
                </div>-->
                <!--<div class="row">
                    <div class="col-md-3">Tags:</div>
                    <div class="col-md-5">{{vm.device.tagList}}</div>
                </div>-->
            </div>

            <div class="col-md-6">
                <img class="center-block img-responsive" style="width:200px;margin:2px;" ng-src="{{vm.device.imageUrl}}" title="{{vm.device.productName}}">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default" ui-sref="deviceList" style="width:80px">
            <I class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <!--<a class="btn btn-primary" ui-sref="deviceEdit.info({DeviceId: vm.device.DeviceId})" style="width:80px;margin-left:10px">
            Edit
        </a>-->

    </div>
    <div class="panel-body">
        <div class="container">
            <h3>Staged Manifests</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <h3>Archived Manifests</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Measurement</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="archived in vm.archivedManifests">
                    <td>{{archived.ManifestId}}</td>
                    <td>{{archived.ManifestTimeStamp | isoConvert}}</td>
                    <td>{{archived.Measurement}}</td>                 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <div class="container">
            <h3>Event History</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Context</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="events in vm.deviceEvents">
                    <td>{{events.Id}}</td>
                    <td>{{events.Timestamp | isoConvert}}</td>
                    <td>{{events.Name}}</td>
                    <td>{{events.Context}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>