<?xml version="1.0" encoding="utf-8"?>

<!-- this transform should be used for development and test environments -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <appSettings>
        <add key="AirApiUrlOverride" xdt:Transform="Remove" xdt:Locator="Match(key)" />

        <add key="LoggingEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="LoggingTags" value="Ovs.Hotel.UI-JS,NonProd-1.14" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="AirApiUrlOverride" xdt:Transform="Remove" xdt:Locator="Match(key)" />

    <add key="SeverityLevelToLog" value="Information" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

        <add key="AppId" value="a18b086f-846a-47e3-bfba-d6e0cca0378c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="AppKey" value="s6W5Mj8P0qysi8Y7rT8h4xPsHMZh5DXFEnYR3ckgTW8=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    </appSettings>

    <connectionStrings>
        <add name="KeyVaultLocation1" connectionString="https://Core-Dev-KeyVault-USWest.vault.azure.net" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="KeyVaultLocation2" connectionString="https://Core-Dev-KeyVault-USWest.vault.azure.net" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>

    <loggly customerToken="ad551207-9dcf-4501-960a-a7a9f1dc8ed9" isEnabled="true" throwExceptions="true" xdt:Transform="Replace">
        <tags>
            <simple>
                <tag value="Ovs.Hotel.UI" />
                <tag value="NonProd-1.14" />
            </simple>
        </tags>
    </loggly>

    <system.web>
        <sessionState mode="InProc" timeout="2" xdt:Transform="Replace" />
    </system.web>

    <system.webServer xdt:Transform="Replace">
        <rewrite>
            <rules>
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>

</configuration>
