<?xml version="1.0" encoding="utf-8"?>

<!-- this transform should be used for staging and production environments -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="WebVisitor.CacheLife" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

        <add key="AirApiUrlOverride" xdt:Transform="Remove" xdt:Locator="Match(key)" />

        <add key="LoggingEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="LoggingTags" value="Ovs.Hotel.UI-JS,Prod-1.14" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="AirApiUrlOverride" xdt:Transform="Remove" xdt:Locator="Match(key)" />

    <add key="SeverityLevelToLog" value="Warning" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="AppId" value="02e70f74-ccde-4e76-baec-391bb812e479" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AppKey" value="fz2GM2AFhGQhYMlZ/iSRPP/L7rOqYzoPYYQbj4H88j4=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="KeyVaultLocation1" connectionString="https://OvsProdKeyVaultWest.vault.azure.net" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="KeyVaultLocation2" connectionString="https://OvsProdKeyVaultEast.vault.azure.net" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <loggly customerToken="ad551207-9dcf-4501-960a-a7a9f1dc8ed9" isEnabled="true" throwExceptions="true" xdt:Transform="Replace">
    <tags>
      <simple>
        <tag value="Ovs.Hotel.UI" />
        <tag value="Prod-1.14" />
      </simple>
    </tags>
  </loggly>

  <system.web>
    <sessionState mode="InProc" timeout="2" xdt:Transform="Replace" />
  </system.web>

  <system.webServer xdt:Transform="Replace">
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>