@{
    ViewBag.Title = "Thyroid Hormone Replacement Therapy";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                Thyroid Hormone Replacement Therapy

                Natural Versus Synthetic

                By Robert H. Sorge, N.D., Ph.D.
                Doctor of Naturopathic Medicine Since 1964

                Since the introduction of synthetic thyroid hormones in the late 1950’s, the pharmaceutical industry has bombarded the medical profession and the public with an endless array of propaganda relating to the superiority of synthetic thyroid hormone replacement over the natural.  This resulted in the almost complete abandonment of the natural in favor of the synthetic.

                Few medical doctors have dared to challenge or question the synthetic thyroid  doctrine  in  fear of being considered a medical heretic.  In retrospect, when  we  consider  that  natural thyroid replacement was around well over 100  years  before  the  synthetic,  one  has to wonder if the medical profession as a whole  has  given  this matter any thought at all.  It appears that they, like the “pied-piper,” lead us all into the sea.

                I’ve been recommending natural Thyroid Hormone Replacement to my patients  since 1964.  This  has  been  frustrating when some of my patients would go to their medical doctors only to be told to go off the natural that was working perfectly well.  And go on the synthetic because the synthetic hormone is controlled in the laboratory, so we can rely on its dosage, therefore its effectiveness.  Natural thyroid, they have told us, is impossible to regulate into consistent does, but the almighty drug is perfectly controlled.

                Once again the orthodox drug establishment has been proven to be dead wrong.  They  should  be  compelled to apologize to the naturopathic profession and  the public  for 50 years of mal-practice but, don’t expect that too soon, but you  can  be  sure  they’ll come out with another new pharmaceutical with its usual propaganda.

                A recent successful lawsuit was brought against Synthroid for their misleading  marketing,  in  short:  lies repeated over and over ad nauseatum for five decades.  The lawsuit was followed by a number of official statements from the FDA stating that, “No current marketed orally administered lenothyroxine sodium  product  has  been  shown  to  demonstrate  consistent potency and stability and thus, no currently marketed orally administered synthetic thyroid product is generally recognized as safe and effective.”

                The  truth  concerning  pharmaceuticals continue to surface.  It took a lawsuit to get the FDA off its duff and almost 50 years to make this statement.  Intelligent  people, of  course,  are finally beginning to question the entire system of  allopathic  drug  medicine and  its  system of  poisoning.   If they can do this to us  with Synthroid  for 50 years, just imagine what they’re pulling off with hundreds of other substances they call medication.

                As a result of the truth being confirmed, we have finally allowed for the resurfacing  of  natural  thyroid  hormone  as a safe, effective and sensible treatment  for  thyroid conditions.   Desiccated thyroid is hormonally almost identical to natural thyroxin that is produced by the human body.    Unlike the synthetic, it is not a controlled substance drug.

                What Does The Thyroid Gland Do?

                The thyroid gland produces the hormones that regulate the body’s metabolism.  The principle hormones secreted by the thyroid gland are:

                T-3	(Triodothyronine)
                T-4 	(Thyroxine)

                Because about 80% of the thyroid glands production is devoted to T-4, thyroxine  is  often called “the thyroid hormone,” much of the same way estrogen is called the “female hormone.”  Nevertheless, T-3 is functionally the more important thyroid hormone.  It does about 90% of the work of they thyroid.

                Proper thyroid function requires conversion of T-4 to T-3, which is the metabolically active derivative of T-4, if the conversion of T-4 to T-3 is impaired, symptoms of hypothyroidism surface.  Many Americans have what is considered a healthy thyroid, but their conversion mechanism is not working effectively, thereby causing some of the same symptoms of a thyroid disease.

                Diagnosis of Hypothyroidism

                The most common method of diagnosing thyroid function has been the laboratory blood tests.  However, most naturopathic doctors have found that these

                tests,  although  useful  in  diagnosing serious thyroid disease, are somewhat limited for determining thyroid function and their results are often misleading.

                It is not unusual for a patient suffering with multiple hypothyroidism symptoms all of their life, to be told when their tests come back negative, that “they are perfectly healthy and their problem was all in their head.”

                Part  of  the problem is the range of what is considered normal is overly broad and their measurement is not sufficiently sensitive.  For that reason, in Naturopathic Medicine, we employ not only the medical range, but also what is known  as  the  optimal  range.  We  also show our patients what the perfect number on each and every test should be, if their body was working perfectly.

                According to Broda Barnes, M.D., one of the foremost authorities in the country  on  the  thyroid,  “more  information  can  be brought to the physician with  a  mercury  thermometer  than  with  most thyroid function tests.”  At Abunda  Life,  we  teach  our  patients  to  test  themselves  and  become   more
                involved in their own health care.

                Hypothyroidism Symptoms

                Undetected thyroid problems have plagued people for years and continue to be an underlying cause for a variety of physical and mental problems.  Some people  have been suffering with undiagnosed hypothyroidism all of their life; some  even  from  birth, without even knowing it.  Doctor’s offices are filled with undiagnosed   and   under-diagnosed cases of  hypothyroidism.  According to Broda Barnes, M.D., it is the most under-diagnosed medical condition in America.

                The onset of hypothyroidism is often subtle with symptoms gradually worsening over time.  Symptoms can exacerbate greatly with age.  To further complicate the diagnosis of this disease, the symptoms of hypothyroidism are varied, affecting each individual differently, often causing medical doctors not sensitive to the nature of this condition to say, “it’s all in your head,” or worse, prescribe psychotropic drugs which only compound the problem.

                Underactive Thyroid Self Test – Check Yourself

                If you’ve checked off  three or more of the symptoms listed below there is a strong possibility that your thyroid is underperforming.  Discuss this with your physician in light of this information.

                ____ Feeling chilly even at normal room		____ Anxiety or panic attacks or
                temperature   (62 to 68 degrees)					      claustrophobia
                ____ Slow, rapid, or irregular heartbeat		____ Low sex drive

                ____ Menstrual problems				____ Fine or thinning hair

                ____ Infertility					____ Lack of ambition or motivation

                ____ Difficulty losing or gaining weight		____ Slow reaction, slow moving, slow
                thyroid
                ____ Fluid retention

                ____ Unexplained weight gain or loss                       ____ Insomnia

                ____ Puffiness around the eyes			____ Hives

                ____ Coarse, brittle, or dry hair			____ Asthma

                ____ Excessive loss of hair				____ Allergies

                ____ Dry, rough, or scaly skin			____ Slow healing

                ____ Depression					____ Emotional Instability

                ____ Inability to concentrate				____ Intolerance to heat

                ____ Poor memory					____ Intolerance to cold

                ____ Can’t sweat, even in hot weather		____ Itchiness

                ____ Constipation					____ Ringing in ears

                ____ Respiratory infection				____ Blurred vision or poor vision

                ____ Prone to colds, flu and infection		____ Swollen eyelids or puffy face

                ____ Muscle soreness or weakness			____ Loss of appetite

                ____ Joint pain					____ Lethargy or slow speech

                ____ Undue fatigue					____ Acne

                ____ Headaches or migraines				____ Cold hands or cold feet

                ____ P.M.S. Irritability				____ Brain fog

                “Unfortunately, most Orthodox Medical Doctors still do not recognize these symptoms as being potentially related to a healthy thyroid function,” Broda Barness, M.D.  For this reason, most hypothyroidism is overlooked, remaining undetected until more severe symptoms develop.  “In naturopathic Medicine, we believe in addressing an underactive thyroid at early inception, at the deficiency stage rather than the crisis stage,” Robert H. Sorge, N.D., Ph.D.

                More Serious Diseases

                When hypothyroidism is not addressed at its early inception, more serious conditions can often result.  So many menstrual irregularities and menopausal symptoms are related to hypothyroidism, that if it was ever addressed properly, 80% of the gynecologists would have to seek a new profession.  The  old  medical  textbooks going back to the turn of the last century, before  drugs  became  the vogue,  made  it  clear  that  there  was  a direct relationship to female problems and the thyroid.

                In 1914, Dr. Eugene Hertoghe, a distinguished Belgian Endocrinologist noted, “The thyroid gland has a great influence on menstruation, pregnancy, lactation and even uterine involution after childbirth.”

                In 1962, Dr. Broda Barnes confirmed that “there are many possible causes for menstrual, fertility and feminine difficulties.  Among them are ovarian cysts, fibroids and cervical polypo, as well as endometriosis . . . but in the vast majority of  women  there is no evidence of any organic related problem.  What is commonly  evident  if  it  is  sought  is low  thyroid function.  (This was known 100 years ago.)

                Dr.  Barnes continues, “Forty years ago leading gynecologists were reporting that natural thyroid replacement therapy had cured more menstrual disorders  than  all  other  medications  combined.  Unfortunately, that lesson seems to be largely lost.”

                Even more unfortunately for many women suffering from feminine menstrual  and pre and post menopausal problems, that lesson still seems lost today, 80 years later.  In some areas of medicine, we don’t need more research money,  but  to simply re-read our old medical books.  According to Dr. Barnes most menstrual problems including miscarriage, P.M.S. and infertility could be remedied with natural thyroid replacement therapy.
                In the last two decades, infertility in both men and women has skyrocketed.  There are multiple factors contributing to this fact, including malnutrition, environmental  pollutants  and  heavy  metal toxicity.  All of these interfere with proper thyroid function.  There appears to be a connection between unrelated hypothyroidism and infertility.  Twenty-five percent (25%) of our young men and women are infertile.  Fertility clinics are booming at $20,000 plus per couple to conceive a child.  Wouldn’t it make more sense to see a naturopathic doctor first?

                Heart disease is also related to hypothyroidism.  Thyroid secretions control cholesterol  levels,  which means there is a connection between hypothyroidism and atherosclerosis.  Thyroid deficiency can also lead to accelerated blood clotting, setting the cardiovascular system up for a clogged artery, as well as high blood pressure  and  undue  fatigue.  All these factors related to improper thyroid function can increase the risk of stroke or heart attack.

                According to Dr. Ray Peat, “Hypothyroidism whether natural or promoted  by the administration of thyroxine, (the synthetic thyroid drug), retarded bone modeling and tissue repair.”  Osteoporosis may result from hypothyroidism itself or from thyroxine pills because of their poor conversion of T-4 to T-3.

                The  orthodox  medical profession has treated hypothyroidism with Synthroid  for  50 years.  This drug is a synthetic T-4.  Naturopathic doctors have long questioned the value of T-4 only therapy.  In fact, a recent New England Journal  of  Medicine article reinforced the significance of treating hypothyroidism.  As one begins to see, sooner or later the Medical profession comes back to Naturopathic Principles.

                Dr.  Mercola  states  that  many people being treated for hypothyroidism with synthetic T-4 are actually being undertreated.  He suggests that the excessive reliance  on  single  thyroid  treatments, (T-4)  and the subsequent blood results that indicate a normal “TSH” level, are the primary reasons for the oversight.

                Dr.  Ray Peat adds that, “if the liver is the main source of the thyroid problem,  then  synthetic thyroxine pills, which are only T-4, can make the problem  worse  because the liver is not converting the T-4 to T-3 and the treatment is further suppressing T-3 production from the thyroid.”

                This  is  just another example of “tomfoolery” medicine.  The natural worked perfectly fine for over 100 years.  The big boys from the pharmaceutical monopoly  had  to  get  in  there with their patented synthetic drug Synthroid.  Now,  50  years later it has been proven again that they have been doing more harm than good.  The orthodox drug profession has been guilty of 50 years of malpractice and now we’re  back to what we were doing since the early 1800’s.  Using  natural  thyroid hormone replacement therapy which  contains T-2, T-3 and T-4;  a  comprehensive  supplement,  which  replicates  what  your  thyroid  gland is  already  producing.  Natural  thyroid contains an ample supply of T-2 and T-4 as a back-up supply for conversion into T-3.

                Over the course of 40 years of medical practice the late DR. Broda Barnes noted that many patients who were being treated with synthetic Thyroxine (T-4) complained of residual symptoms, specifically dry skin, weight gain and fluid retention.  However, when their therapy was modified to the natural thyroid which more closely resembles what the body produces with the full range of human thyroid hormones, all the symptoms disappeared within two months or less.

                Imbalances That Can Affect T-4 to T-3 Conversion

                EXCESSES					          DEFICIENCIES

                Nutrition: 						Nutrition:
                Junk food diet, excess fried food, sugar,		Excessive fasting or detoxification,
                alcohol, devitalized food, high protein 		starvation, anorexia amino acids,
                diet, unsupervised diets				malnutrition

                Heavy Metal Toxicity:
                Lead, Mercury, Cadmium, Aluminum

                Drugs:						Trace Minerals:
                Medications, over the counter antibiotics,		Iodine, Selenium, Iron, Zinc
                recreational drugs, aspirin

                Environmental Toxicity:			Vitamins:
                Pesticides, preservatives, xyno-estrogens,		Riboflavin (B2), Vitamin B Complex
                fluoride, hairspray, electric frequencies,
                sick building syndrome, air pollution, tap
                water

                Hormones						Hormones:
                Estrogen, Cortisol, synthetic hormones,		T-3, T-4, TSH
                Medical Hormone Therapy, Premerian,
                birth control pills

                Mental/Emotional:
                Stress, anxiety, fear, anger, worry
                Basal Temperature Test

                Has  been  proven  over  the  last 100 years to be even more reliable than blood tests  for detecting cases of mild to moderate hypothyroidism. Menstruating women should make sue to take this test on the second and third day of their menstrual flow.

                Here’s how you do it:		       Here’s what it means:

                1.  Shake an ordinary mercury		  1.   The optimal basal temperature is 98.2.
                thermometer (not a digital) 		   2.  The ideal window is 98.2 never going
                down as far as it will go before 	                                                  less than 97.8.
                placing it next to your bed.		   If  your temperature falls within that window your
                thyroid is probably functioning normally.
                2.  In the morning upon awakening,
                before going to the bathroom	   3.  If your temperature is consistently above 98.2,
                with as little movement as 		               you may have an overactive thyroid 	     possible, place the thermometer		  (hypothyroidism) or an infection or an
                under your armpit and lie quietly		                                   overload of toxins.
                for ten minutes.  Record to the	   4.  If your temperature is below 97.8 you may
                tenth of a degree.		 	              have an under performing thyroid 										      (hypothyroidism)

                Conclusions

                Hypothyroidism, according to Broda Barnes, M.D., one of the leading authorities  in  the country on the thyroid, claims that Hypothyroidism is a national  epidemic,  and  the  most undiagnosed and under-diagnosed conditions  in America.  Many Americans are suffering needlessly, being told they have to live with their problem or worse ,put on psychotropic drugs.

                Mild  and  moderate  hypothyroidism  may be contributing to the lowering of  our normal body temperature.  In other words,  normal does not mean optimal.  Subtle hypothyroidism has become the common disease of the 21st century as a result  of  our  junk  food  diets,  depleted soil, heavy metal toxicity, environmental  pollutants,  over  medication, nutritional deficiencies, toxicity and stress.

                Overt Hypothyroidism is fairly easy to detect, but for the majority of people who have this disease in mild and moderate forms, the diagnosis is often missed, even with extensive blood tests.  Once diagnosed, Natural Thyroid Replacement Therapy, Liquid Ionic Minerals, Naturopathic Food Medicines, Botanical Healing Teas, Nutraceutical Supplements, Homeopathic Medicines and healthy raw foods can remedy the majority of symptoms and eventually correct the root cause  of  this  disease.   According  to  Broda  Barnes, M.D. 50% of  his patients using  the  naturl  thyroid  hormones  corrected  their  hypothyroidism and needed no further treatment.

                Everyone is different. Not all people with hypothyroidism will exhibit the same  symptoms.    Different  people are affected in different degrees.  What makes this disorder so perplexing is thyroid hormone levels are not reliable indicators of how good or how bad you feel.  Some people with considerable deviations  in  their laboratory tests results will feel just fine, while other people with a mild deviation will have multiple symptoms.  This can be mind boggling to many physicians of the “science only” School of Medicine.

                There are different aspects to  natural thyroid therapy.  One is augmenting the  T-3  and  T-4  itself  that  your body is presently producing.  A second aspect is to feed and nourish the thyroid with its primary and essential minerals and nutrients  that  it  is  deficient  in.   The third aspect is to raise the thyroid’s vibratory rate using homeopathic remedies and microcurrent stimulation.  At Abunda  Life,  we employ a total holistic approach with correction as our goal, rather than a temporary suppression of symptoms.

                Discuss your symptoms with your Medical and Naturopathic Doctor, to determine if Natural Thyroid Hormone Replacement therapy would be appropriate for you.


            </div>
        </div>
    </div>
</div>

