<!--Passport Information-->
<div class="form-inline row">
    <div class="form-group">
        <label class="form-control-label" for="passportNumber">Passport Number</label>
        <div class="input-group">
            <input type="text" class="form-control" id="passportNumber" ng-model="traveler.passportNumber" />
        </div>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="passportPaxNationality">Passenger Nationality</label>
        <input type="text" class="form-control" id="passportPaxNationality" ng-model="traveler.passportPaxNationality" />
    </div>

    <div class="form-group">
        <label class="form-control-label" for="passportIssuingCountry">Passport Issuing Country</label>
        <input type="text" class="form-control" id="passportIssuingCountry" ng-model="traveler.passportIssuingCountry" />
    </div>

    <div class="form-group">
        <label class="form-control-label" for="passportExpirationDate">Passport Expiration Date</label>
        <input type="text" class="form-control" id="passportExpirationDate" ng-model="traveler.passportExpirationDate" />
    </div>
</div>
<br />
<!--End Passport Information-->
