<div class="search-results-listings__hotel-details">
    <div class="heading">
        <h3 ng-bind-html="hotel.hotel_snapshot.name | html"></h3>
        <ul class="review-stars">
            <li ng-repeat="star in main.stars | limitTo : hotel.hotel_snapshot.star_rating" class="fa fa-star stars-5"></li>
            <li hotel-stars stars="hotel.hotel_snapshot.star_rating" class="fa fa-star-half stars-5"></li>
        </ul>
        <h4><small ng-bind-html="hotel.hotel_snapshot.location | html"></small></h4>
    </div>
</div><!-- end hotel details -->
<div class="search-results-listings__hotel-image">
    <img alt="" ng-src="{{ hotel.hotel_snapshot.img_URL }}" class="img-responsive" />
</div>
<div class="search-results-listings__hotel-pricing">
    <!-- savings-breakdown -->
    <div class="module-cb__container">
        <p sw-angular-popover="{{hotel.hotel_snapshot.desc}}" sw-options="main.popoverOptions"><span ng-bind-html="hotel.hotel_snapshot.short_desc | characters : 100"> </span></p>
        <ul class="module-cb__btn-container" ng-if="main.daily == 'true'" ng-click="details.callDetails(hotel.hotel_snapshot, top)">
            <li class="module-cb__label">EARN</li>
            <li class="module-cb__arrow"><i></i><i></i></li>
            <li class="module-cb__amount"><label ng-bind-html="hotel.daily_savings | customCurrency : main.currencyFormat"></label> <small>{{main.currentSession.display_options.labels.earned}}</small></li>
        </ul>
        <ul class="module-cb__btn-container" ng-if="main.daily == 'false'" ng-click="details.callDetails(hotel.hotel_snapshot, top)">
            <li class="module-cb__label">EARN</li>
            <li class="module-cb__arrow"><i></i><i></i></li>
            <li class="module-cb__amount"><label ng-bind-html="hotel.total_savings | customCurrency : main.currencyFormat"></label> <small>{{main.currentSession.display_options.labels.earned}}</small></li>
        </ul>
    </div>
    <!-- btn-container -->
    <div class="btn-container">
        <a class="btn btn-primary" ng-click="details.callDetails(hotel.hotel_snapshot, top)">Select</a>
        <div class="nightly-price"><div ng-bind-html="hotel.daily_market_rate | customCurrency : main.currencyFormat"></div><small>Best Nightly Rate</small>
        </div>
        <span style="color: white">SC: {{hotel.supplier_code}} - {{hotel.daily_member_rate_pre_yield}}</span>
    </div>
</div><!-- end hotel pricing -->
