/*
    
-------------------------------------------------------------------------

	** How to Read & Understand the CSS **

-------------------------------------------------------------------------

	.block {}
	.block__element {}
	.block--modifier {}

	.block : represents the higher level of an abstraction or component.
	.block__element : represents a descendent of .block that helps form .block as a whole.
	.block--modifier : represents a different state or version of .block. ex. female or male are both persons.

	Example:
 
	.search-form {}  :  same as above
	.search-form__checkin {} : an element of the main componenet
	.search-form__checkout {} : an element of the main componenet
	.search-form--inline {} : the inline version state of the form
	search-form--stacked {} : the stacked version of the form

-------------------------------------------------------------------------

	1.  Browser Reset + Font Face
	2.  Globally Applied Styles
	3.  Header + Search Bar Styles
	4.  Page Sections
   
-------------------------------------------------------------------------*/
    
/*-------------------------------------------------------------------------*/
/*  1.  Browser Reset + Font Face
/*-------------------------------------------------------------------------*/
  
/* HEADS UP: Everything that you will normally find here can be found in the library/less/wp.less */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
 
*, *:after, *:before  {
	@include box-sizing(content-box);
}

.form-control,
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,
.col-sidebar, .col-content, .hotel-list *, .hotel-list *:after, .hotel-list *:before
{
	@include box-sizing(border-box);
}


/*-------------------------------------------------------------------------*/
/*  2.  Globally Applied Styles
/*-------------------------------------------------------------------------*/

* {
	font-weight: 300;
	// -webkit-touch-callout: none;
	// -webkit-user-select: none;
	// -khtml-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// user-select: none;
	outline: none !important;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	margin-bottom: 50px;
}

ul {
	list-style: none;
	list-style-type: none;
}

small {
	font-weight: 300;
	font-size: .8em;
}
/*-------------------------------------------------------------------------*/
/*  3.  Headings
/*-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
	font-weight: 400;
}
h1 {
	font-size: 1.7em;
}

h2 {
	font-size:1.4em;
}

h2.border-dotted {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

h3 {
	font-size:1.2em;
	margin-bottom: 15px;
}

h4 {
	font-size:1.1em;
	margin-bottom: 5px;
}

p {
	line-height: 20px;
}

.page-heading {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccd2dc;
	margin-bottom: 25px;
}

.box {
	background: #fff;
	border: 1px solid #d4d7dc;
}
.box-spacing {
	padding: 20px;
}


/*-------------------------------------------------------------------------*/
/*  Spacing
/*-------------------------------------------------------------------------*/

.top-25px {
	margin-top: 25px;
}
.top-20px {
	margin-top: 20px;
} 
.top-15px {
	margin-top: 15px;
}
.top-10px { 
	margin-top: 10px;
}

.btm-25px {
	margin-bottom: 25px;
}
.btm-20px {
	margin-bottom: 20px;
}
.btm-15px {
	margin-bottom: 15px;
}
.btm-10px {
	margin-bottom: 10px;
}

/*-------------------------------------------------------------------------*/
/*  4.  Container
/*-------------------------------------------------------------------------*/

.container-fluid {
	max-width: 1170px;
}

.container-box {
	background: #fff;
	border: 1px solid #dbe0e7;
	margin-bottom:15px;

	.form-hotel-search {
		margin-bottom: 0;
	}
}
.container-spacer {
	padding: 15px;
	overflow: hidden;
}

/*-------------------------------------------------------------------------*/
/*  Content Styling (bullets, p tags, etc)
/*-------------------------------------------------------------------------*/

.content-format {
	p {
		line-height: 22px;
		margin-bottom: 15px;
	}
	strong {
		font-weight: 500; 
	}
	ul {
		margin-left: 18px;
		margin-bottom: 15px;
		list-style: disc;
		li {
			line-height: 22px;
		}
	}
	.mod__ul-span-cols {
		ul {
			margin-left: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.review-stars {
		margin-left: 0;
		margin-bottom: 0;
	}
}

/*-------------------------------------------------------------------------*/
/*  4.  Shared Search Pricing
/*-------------------------------------------------------------------------*/

.search-results-listings, .details__rooms-table, .search-results-grid {
	.savings-breakdown {
		display: inline-block;
		li {
			line-height: 18px;
			margin-bottom: 7px;
		}
		li:last-child {
			border-top: 1px dashed #d4d4d4;
			padding-top: 10px;
		}
		span {
			float: right;
		}
		strong {
			font-weight: 500 !important;
			color: #e03c3d;
		}
	}
}


/*-------------------------------------------------------------------------*/
/*  Universal Modules
/*-------------------------------------------------------------------------*/

.mod__ul-span-cols {
	ul {
		list-style: none;
		list-style-type: none;
		li {
			line-height: 22px;
			margin-bottom: 4px;
			text-align: right;
			clear: both;
			span {
				// font-weight: bold;
				float: left;
				text-align: left;
			}
		}
	}
	.checkout__buttons {
		padding-top:20px;
	}
}

.mod__table-two-col {
	tr {
		td {
			padding: 0.25rem;
			line-height: 1.5;
			vertical-align: top;
			border-top: none;
		}
	}
}

/* Four Column Grid (Top Destinations Home Page)*/
.mod__four-col {
	.mod__four-col__items {
		img {
			margin-bottom: 8px;
		}
		.item {
			margin-bottom: 10px;
		}
	}
}

/* Unordered list with bullets */
.mod_bullet-list {
	list-style-type:disc;
	list-style: disc;
	margin-left: 0px !important;
	li {
		text-align: left;
		margin-left: 20px;
	}
}

/*-------------------------------------------------------------------------*/
/*  Simple Carousel
/*-------------------------------------------------------------------------*/

.simple-carousel {
	font-size: 0em;
	overflow: hidden;
	li {
		margin-right: 25px;
		display: inline-block;
		text-align: -webkit-match-parent;
		p {
			font-size: 1em !important;
		}
	}
}

/*-------------------------------------------------------------------------*/
/*  Hotel Nightly Price
/*-------------------------------------------------------------------------*/

.nightly-price {
	text-align: center; 
	line-height: 19px; 
	font-size: 19px; 
	small  {
		display: block;
		font-size: 14px; 
	}
}

/*-------------------------------------------------------------------------*/
/*  Custom Media Queries
/*-------------------------------------------------------------------------*/

/* Extra Small devices (phones, 768px and below) */
@media (max-width: $screen-xs-min) {
	.hidden-xs {
		display: none;
	}
	.mod__ul-span-cols {
		ul {
			li {
				text-align: left;
				span {
					display: block;
					float: none;
				}
				u  {
					display: none;
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) {
	.hidden-xs-sm, .hidden-sm {
			display: none;
	}
}

/*-------------------------------------------------------------------------*/
/*  General Media Queries
/*-------------------------------------------------------------------------*/
/* Extra Small devices (phones, 768px and below) */
@media (min-width: $screen-xs-min) {

	.hidden-xs {
		display: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

	.hidden-xs-sm, .hidden-sm {
			display: none;
	}
	.details-rooms-table {
		.savings-breakdown {
			margin-left: 0;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/*-------------------------------------------------------------------------*/
/*  Icons
/*-------------------------------------------------------------------------*/
.glyphicon {
	i {
		display: inline-block;
	}
}


