<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="server=208.91.198.197;database=abundalife;uid=abundauser;password=b5TanFp@IKS3;port=3306;"/>-->
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=abundalife;uid=root;password=gigi1862d;port=3306;"/>-->
    <add key="ConnectionString" value="server=oak.arvixe.com;database=abundalife;uid=abundaq;password=Money$57;port=3306;"/>
    <add key="ReceiverEmail" value="frontdesk@abundalife.com"/>
    <!--semicolon delimiter-->
    <add key="EmailMode" value="ON"/>
    <add key="ProjectName" value="Abunda Life"/>
    <!--<add key="SiteURL" value="http://abundalife.softtrendz.com/Questionnaire/"/>-->
    <add key="SiteURL" value="http://www.abundalife.com/questionaire/Questionnaire/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AdministratorId" value="1"/>
    <add key="PhysicalPath" value="d:\inetpub\vhosts\softtrendz.com\abundalife\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages theme="Default" enableViewStateMac="true"/>
    <machineKey validationKey="7A776DBC270DC6B68EBB3C19606D05662F9057E125674D14518B5C935C571910698C984B372DEAA7A3C375623DEC6C4DA718F6AC6A0FADB61A36E46E6507BBE3" decryptionKey="D4434577A04BA99BF4AB1D88E944A496E9890D4E90CA440F63BDFCF56CFFEFE0" validation="SHA1" decryption="AES"/>
    <customErrors mode="On" defaultRedirect="Error.htm">
      <error statusCode="404" redirect="404.html"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="frontdesk@abundalife.com" deliveryMethod="Network">
        <network host="localhost" port="587" userName="frontdesk@abundalife.com" password="abundalife1" defaultCredentials="false" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>