<!DOCTYPE html>
<html ng-app="salesApp">

<head lang="en">
     <style>
    [ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
      display: none !important;
    }
  </style>
</head>

<body>
    Name: <input type="text" ng-model="lastName">
    <br>
    {{lastName}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <script src="./app.js"></script>
    <script src="./salesCtrl.js"></script>

    <div ng-cloak ng-init="names=['Dave','John','Heedy','Danny']">
        <ul>
            <li ng-repeat="name in names">{{ name }}</li>
        </ul>
    </div>

    <div ng-repeat="customer as customers">
        
    </div>

</body>

</html>