/*-------------------------------------------------------------------------*/
/*  Nextgen Specific Variables
/*-------------------------------------------------------------------------*/

// Cash Back Arrow Colors
$cb_background_color: 							#c4c4c4;
$cb_background_color_label: 					#909090;
$cb_border_color: 								#dadada;

$search_btn_color:								#000;
$search_btn_background:							#fff;
$search_btn_background_hover:					#fff;
$color_white:									#fff;



// Below header gray separator
$top_page_separator: #EAEAEA;
$top_page_separator_border_bottom: 1px solid #dbe0e7;

// Screen Size Breakpoints
$screen-xs-min: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
