<div style="font-weight: bold;text-transform:uppercase;">
    SEAT REQUESTS ARE NOT GUARANTEED. THE REQUESTS ARE SENT TO THE AIRLINES BUT THE FINAL SEATING IS ALWAYS DETERMINED BY THE AIRLINE.
    PLEASE ENSURE YOUR TRAVEL DATES ARE CORRECT AND THAT TRAVELERS' NAMES EXACTLY MATCH THEIR PASSPORT/GOVERNMENT ISSUED PHOTO ID. NAME CORRECTIONS ARE REGULATED BY THE AIRLINE’S PENALTY RULES AND IN LINE WITH INTERNATIONAL SECURITY MEASURES, AIRLINES DO NOT GENERALLY ALLOW MODIFICATIONS TO THE NAME. WHERE A NAME CHANGE IS REQUIRED, TICKETS MAY NEED TO BE CANCELLED AND RE-PURCHASED.
    <br /><br />
    PLEASE DOUBLE CHECK VISA REQUIREMENTS FOR YOUR DESTINATION AND ANY TRANSIT COUNTRIES. IT'S YOUR RESPONSIBILITY TO MAKE SURE YOU BRING ALL REQUIRED TRAVEL DOCUMENTS (SUCH AS PASSPORTS AND VISAS, INCLUDING TRANSIT VISAS) AND TO MAKE SURE ALL OTHER ENTRY REQUIREMENTS ARE MET. FOR SOME DESTINATIONS, YOUR TRAVEL DOCUMENTS MAY NEED TO BE VALID FOR A MINIMUM OF 3 TO 6 MONTHS BEYOND YOUR FINAL DATE OF TRAVEL.
    <br /><br />
    MOST AIRLINES ALLOW YOU TO:
    <ul>
        <li style="font-weight: bold;">ADD BAGGAGE/EXTRA BAGGAGE/SPORTS EQUIPMENT (PLEASE CHECK APPLICABLE BAGGAGE POLICY DIRECTLY WITH YOUR AIRLINE FOR GUIDANCE ON BAGGAGE WEIGHT, SIZE AND SECURITY PRIOR TO DEPARTURE)</li>
        <li style="font-weight: bold;">RESERVE A SEAT/CONFIRM PRE-REQUESTED SELECTION</li>
        <li style="font-weight: bold;">ENTER FREQUENT FLIER PROGRAM INFORMATION</li>
        <li style="font-weight: bold;">CHECK IN ONLINE/PRINT BOARDING PASS</li>
        <li style="font-weight: bold;">ENTER TSA PRE-CHECK / GLOBAL ENTRY INFORMATION (WHERE APPLICABLE)</li>
    </ul>
    <br />
    ALWAYS CHECK IN ONLINE AND PRINT YOUR BOARDING PASS WHERE POSSIBLE. YOUR AIRLINE MAY CHARGE FOR THESE SERVICES AND THE COST MAY BE HIGHER AT THE AIRPORT.
    ADVANCED PASSENGER INFORMATION MUST BE ADDED BEFORE YOUR FLIGHT WHERE APPLICABLE.
    <br /><br />
    YOUR RESERVATION WILL BE TICKETED WITHIN TWENTY-FOUR HOURS AND, WITHIN ONE BUSINESS DAY, YOU WILL RECEIVE ANOTHER EMAIL CONFIRMATION WITH YOUR TICKET NUMBER BE SURE TO SAVE YOUR CONFIRMATION NUMBER AND TICKET NUMBER TO OBTAIN A BOARDING PASS OR COMPLETE CHECK-IN VIA THE INTERNET. BECAUSE OF THE WAY THAT AIRLINE TICKETING SYSTEMS WORK, YOUR TRAVEL IS NEVER CHARGED TO YOUR CREDIT CARD OR FULLY CONFIRMED UNTIL YOUR TICKET IS ISSUED. IF YOUR TRAVEL PLANS REQUIRE YOU TO TRAVEL WITHIN 48 HOURS, PLEASE CALL YOUR AGENT TO CONFIRM YOUR FLIGHT VERBALLY.



</div>
