.minhght{min-height:250px;}
.hand{cursor:pointer;}
.float_left{float:left;}
.float_right{float:right;}
.ul {text-decoration:underline;}
.block{display: block;}
.none{display: none;}
.questionaire
{
margin: auto;
width: auto;
text-align:left;
float:left;
padding-top:15px;
}
.questionaire-lable
{
width: 800px;
float: left;
}
.questionaire-control
{
width: 100px;
float: left;
font-weight: bold;
}
.questionaire-control input[type="text"]
{
border: 1px solid;
width: 40px;
text-align: center;
}
.questionaire-lable input[type="text"]
{
border: 1px solid;
width: 40px;
text-align: center;
}
.pagebreak{page-break-before: always;}
.tblnoborder tr td {border:0px;}
.redtext{color:Red;}
.greentext{color:Green;}
.questionnaireFont
{
font-size:14px;
font-weight:normal;
color:Black;
}
.blacktext{color:Black;}
.bluetext{color:Blue;}
a{text-decoration:underline;}
a:hover{text-decoration:none;}
label{font-weight:bold;}
.noPrint{display: block;}
.yesPrint{display: block !important;}
p label{width:160px;}
input[type=text] { width:200px; }
input[type=password] { width:195px; }
.bold{font-weight:bold;}
.redtextbold{color:Red; font-weight:bold;}
.greentextbold{color:Green; font-weight:bold;}
.bluetextbold{color:Blue; font-weight:bold;}
.pl30{padding-left: 30px; padding-top:5px;}
.pl15{padding-left: 15px; padding-top:11px;}
.cvr {width:750px;}
.clm {width:250px;}
.fl {float:left;}
.clr {clear:both;}

.valid_box{clear:both;background:url(../Images/valid.png) no-repeat left #edfce9;border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}
.error_box{clear:both;background:url(../Images/error.png) no-repeat left #fce9e9;border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

hr {
display:block;
height:1px;
clear:both;
border:0;
border-top:2px solid #f1f1f1;
padding:1em 0;
margin:0;
}

div.pagination {
width:960px;
clear:both;
padding:10px 0 10px 0;
margin:0px;
text-align:center;
float:left;
clear:both;
font-size:11px;
}
div.pagination a {
padding: 7px 10px 7px 10px;
margin-right: 2px;
border: 1px solid #50C5F9;
text-decoration: none; 
color: #50C5F9;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #50C5F9;
color: #fff;
background-color: #50C5F9;
cursor:pointer;
}
div.pagination span.current {
padding: 7px 10px 7px 10px;
margin-right: 2px;
border: 1px solid #50C5F9;
font-weight: bold;
background-color: #50C5F9;
color: #FFF;
}
div.pagination span.disabled {
padding: 7px 10px 7px 10px;
margin-right: 2px;
border: 1px solid #f3f3f3;
color: #ccc;
}