
@{
    ViewBag.Title = "ArticlesSpiritual";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <ul>
                    <li><a href="~/Spiritual/Christmas">Christmas</a></li>;
                </ul>

            </div>
        </div>
    </div>
</div>

