@{
    ViewBag.Title = "Forms";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p>Please right-click on the necessary form, print it out, fill it out and FAX it to 732-502-0899</p>


                <a href="~/Home/Forms/SAF120form.doc">SAF 120 Form</a>

            </div>
        </div>
    </div>
</div>