
@{
    ViewBag.Title = "Low Cost";
}

<div class="pricing-table">
    <div class="container">
        <!-- Title -->
        <h3 class="title"><i class="icon-arrow-right title-icon"></i> Nutritional Testing</h3>

        <!-- Pricing table -->
        <!-- Price details. Note down the class name before you edit. -->
        <div class="row">

            <div class="col-md-6 col-sm-12">

                <!-- Add the class "phighlight" to highlight specific table -->
                <!-- Pricing table #1. Class name "price-a" -->
                <div class="price-a pricel center">
                    <div class="phead-top blightblue">
                        <!-- Title -->
                        <h4>Choice One - Silver Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <!-- Price. Use the syntax correctly. -->
                        <p><span class="pst">$</span> 597.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <!-- List -->
                        <ul>
                            <li>Choice One - Basic</li>
                            <li>No Laboratory Assessment</li>
                            <li>
                                Office Visit / or Phone Consultation
                                Based on the most extensive Questionnaire developed for nutritional assessment
                                Naturopathic Nutritional interpretation of over 4,000 health systems
                                Personal Nutrition Consultation
                                Definitive Recommendations
                                Personal Nutrition Protocol based on your test results
                                Educational literature
                                One Year Subscription to our Newsletter
                            </li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 1,200
                        Special Introductory Rate
                        Only - $597
                    </div>
                </div>

                <!-- Pricing table #2. Class name "price-b" -->
                <div class="price-b pricel center">
                    <div class="phead-top bgreen">
                        <h4>Choice Two - Gold Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <p><span class="pst">$</span> 997.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                            <li>Gold Level</li>
                            <li>
                                Nutrition Testing and Personal Health Evaluation
                                With Extensive Laboratory
                                Diagnostic Testing
                            </li>
                            <li>
                                Includes:
                                Everything in Choice One Plus…..
                                About 75 Diagnostic Laboratory blood and urine
                                Tests for Nutritional diagnostic purposes
                                Initial office Visit
                                Iridology Analysis
                                Follow Up report of findings office visit
                                Nutritional Protocol based on your individual bio-chemestry
                                Individual nutritional counseling beased on your test results
                                Extensive computer readout
                            </li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 2,000

                        Special Introductory Rate
                        Only- $ 997
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-sm-12">

                <!-- Pricing table #3. Class name "price-a" -->
                <div class="price-a pricel center">
                    <div class="phead-top bviolet">
                        <h4>Choice Three - Platinum Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <p><span class="pst">$</span> 1,497.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                            <li>Option 3</li>
                            <li>Male / Female Hormone Profile</li>
                            <li>
                                Includes :
                                Everything in Silver, Gold Plus....
                                Male / Female Hormone Testing
                                Adrenal Exhaustion Test
                                Hair Biopsy Testing for heavy Metal and Environmental polution
                                Hair Mineral Analysis
                                Human Growth (repair) & Hormone Testing for Anti-aging
                            </li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 3,000
                        Special Introductory Rate
                        Only - $ 1,497
                    </div>
                </div>

                <!-- Pricing table #4. Class name "price-b" -->
                <div class="price-b pricel center">
                    <div class="phead-top bred">
                        <h4>Choice Four - Diamond Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <p><span class="pst">$</span> 1,997.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                            <li>Option 4 </li>
                            <li>Early Warning Preventitive Testing</li>
                            <li>
                                Includes :
                                Everything in Silver, Gold, Platinum Plus....
                                Cancer Anti-body Testing
                                Stroke Precursor Test
                                Early Heart Disease Testing
                                Cellular Oxygen Deficiency Testing
                                Early Alzheimer's Prevention Testing
                                Blood Viscosity Testing
                                Pre-Diabetic Testing
                                Inflammatory Testing
                                Stool Analysis for GI Tract challenges, Parasites, Candida & Stealth viruses
                            </li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 3,995.00
                        Special Introductory Rate
                        Only - $ 1,497.00
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>


<div>

</div>



<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Left box -->
                <div class="big-box-left bgreen">
                    <!-- Box content -->
                    <div class="box-content">
                        <!-- title -->
                        <div>
                            Abunda Life uses the lastest Scientific Breakthrough in Blood Diagnostics for Nutrition, Metabolic and Hormonal Assessment. Abunda Life Nutritional Testing program interprets your Blood Tests and provides you a Personal Snapshot of your Symptomontology.
                            Our Service May Include (Level Based):
                            Your Initial Office Visit
                            Your Blood and Urine Laboratory Fees
                            for 60 Blood Tests and 12 Urine Tests
                            Computer Analysis of Over 1000 Possible Symptoms, Body Signs andSignals
                            Cellular Oxygen Analysis
                            Iridology Analysis
                            BodyFat Composition Analysis
                            Interpretation of Diagnostic Laboratory Tests Specifically for Personal Nutrition, Hormonal and Metabolic Assessment Purposes
                            Follow Up Report of Findings, Office Visit and Professional Recommendations
                            Personal Plan of Action based on Your Test Results.
                        </div>
                        <br /><br />
                        <!-- Links -->
                        @*<div class="box-links">
                                <a href="~/Home/UnderConstruction">Checkout other projects <i class="icon-double-angle-right"></i></a>
                                <a href="~/Home/UnderConstruction">Download Now <i class="icon-double-angle-right"></i></a>
                            </div>*@
                    </div>
                </div>

                <!-- Center box -->
                <div class="big-box-mid bgreen">
                    <!-- Image -->
                    @*<a href="#"><img src="~/Content/Templates/img/photos/girl1.jpg" alt="" class="img-responsive" /></a>*@
                    <a href="#"><img src="~/Content/Templates/img/parallax/who-what-when-where-why.jpg" alt="" class="img-responsive" /></a>
                </div>

                <!-- Right box -->
                <div class="big-box-right bblack">
                    <div class="box-content">
                        Recommendations Include:
                        Naturopathic Detoxification Program or Nutrition Program
                        Nutritional Supplementation Program
                        Alterative Medicine/ Naturopathic Medicine Treatment Plan all based on,Your Individual Bio-Chemistry
                        More Personal Health Data Analysis THAN YOU CAN IMAGINE!
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
<!-- Pricing Table ends -->