@{
    ViewBag.Title = "Home Page";
}

<!-- Slider starts -->
<div class="parallax-slider">
    <!-- Slider (Parallax Slider) -->
    <div id="da-slider" class="da-slider">
        <!-- Each slide should be enclosed inside "da-slide" class -->
        <!-- Slide starts -->
        <div class="da-slide">

            <p class="bviolet">
                <!-- Heading -->
                <span class="das-head">Abunda Life - Body Mind Spirit</span><br />
                <!-- Para -->
                When you tried what the Medical Doctor has suggested and prescribed, now you can get the results your body needs!
                <br />
                <!-- Link -->
                <a class="das-link btn btn-default" href="http://www.abundaweb.com">Read More <i class="icon-double-angle-right"></i></a>
            </p>
            <!-- Image -->
            <div class="da-img"><img src="~/Content/Templates/img/parallax/1.png" alt="image01" /></div>

        </div>
        <!-- Slide ends -->

        <div class="da-slide">

            <p class="bblue">
                <!-- Heading -->
                <span class="das-head">Based On Naturopathic Medicine</span><br />
                <!-- Para -->
                Dr. Sorge started Abunda Life for an alternative to people seeking help with their health.
                <br />
                <a class="das-link btn btn-default" href="http://www.abundaweb.com">Read More <i class="icon-double-angle-right"></i></a>
            </p>
            <!-- Image -->
            <div class="da-img"><img src="~/Content/Templates/img/parallax/abundalifeproductsgeneric.jpg" alt="image01" /></div>

        </div>
        <div class="da-slide">

            <p class="bgreen">
                <!-- Heading -->
                <span class="das-head">Tons Of Products</span><br />
                <!-- Para -->
                Powerful cleansing and nourishing Vitamins, Herbs, Tonics, Detoxification and Homeopathics that treat the root cause of illness!
                <br />
                <a class="das-link btn btn-default" href="http://www.abundanet.com/">Visit the Store <i class="icon-double-angle-right"></i></a>
            </p>
            <!-- Image -->
            <div class="da-img"><img src="~/Content/Templates/img/parallax/3.png" alt="image01" /></div>

        </div>
        <div class="da-slide">

            <p class="bred">
                <!-- Heading -->
                <span class="das-head">All Natural Products</span><br />
                <!-- Para -->
                Get safe powerful products from Abunda Life Laboratories formulated by Dr. Sorge
                <br />
                <a class="das-link btn btn-default" href="http://www.abundanet.com">Read More <i class="icon-double-angle-right"></i></a>
            </p>
            <!-- Image -->
            <div class="da-img"><img src="~/Content/Templates/img/parallax/4.png" alt="image01" /></div>

        </div>

        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
</div>
<!-- Slider ends -->
<!-- Hero starts -->

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="hero-left">
                    <i class="icon-desktop"></i>
                </div>

                <div class="hero-right">
                    <div class="hero-title">Hello! <b class="lightblue">Welcome</b> to Abunda <b class="lightblue">Life</b> Built for the modern web. </div>
                    <p>Abunda Life is building new mobile and responsive designed applications to ensure you get the best experience no matter what device your use.</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!-- Hero Ends -->
<!-- Big box starts -->

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Left box -->
                <div class="big-box-left blightblue">
                    <!-- Box content -->
                    <div class="box-content">
                        <!-- title -->
                        <div class="box-title">Welcome to the <br />world of Abunda Life</div>
                        <!-- Para -->
                        <p>Take a look at our YouTube video seminars </p>
                        <!-- Button -->
                        <a href="http://www.youtube.com/channel/UCP6vdjMOW7f8RENwEEmA53w" class="btn btn-primary">Check It Out</a>
                        <br /><br />
                        <!-- Links -->
                        @*<div class="box-links">
                            <a href="~/Home/UnderConstruction">Checkout other projects <i class="icon-double-angle-right"></i></a>
                            <a href="~/Home/UnderConstruction">Download Now <i class="icon-double-angle-right"></i></a>
                        </div>*@
                    </div>
                </div>

                <!-- Center box -->
                <div class="big-box-mid blightblue">
                    <!-- Image -->
                    @*<a href="#"><img src="~/Content/Templates/img/photos/girl1.jpg" alt="" class="img-responsive" /></a>*@
                    <a href="#"><img src="~/Content/Templates/img/parallax/hotelpic_compass.jpg" alt="" class="img-responsive" /></a>
                </div>

                <!-- Right box -->
                <div class="big-box-right bblack">
                    <div class="box-content">
                        <div class="box-title">Be <span class="lightblue">Healthy</span></div>

                        <h4>Name</h4>
                        You
                        <h4>Date Of Birth</h4>
                         Lost Count, slowed aging!
                        <h4>Address</h4>
                        208 Third Avenue,<br />
                        Asbury Park, NJ. 07712 <br />
                        USA
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Big box ends -->
<!-- CTA Starts -->

<div class="container">
    <div class="cta bviolet">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="ctas">
                    <!-- Title and Para -->
                    <h5><i class="icon-arrow-right icon-metroid"></i>Most Natural & Professional Products Ever Made </h5>
                    <p>Pure Organic products that uniquely set themselves apart from the normal retail store products.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ctas">
                    <!-- List -->
                    <ul>
                        <li>Great Value! Check it today.</li>
                        <li>Safe and Effective. Don't miss it.</li>
                        <li>Over 40 years of satifies patients.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="ctas text-center">
                    <!-- Button -->
                    <div class="ctasl">
                        <a href="http://www.abundanet.com" class="btn btn-danger">Visit the Store <i class="icon-double-angle-right"></i></a>
                        <p>limited period offer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CTA Ends -->
<!-- Service and Social media starts -->

<div class="service-home">
    <div class="container">
        <!-- Title -->
        <h3 class="title"><i class="icon-arrow-right title-icon"></i> Service</h3>
        <div class="row">

            <!-- Social -->
            <div class="col-md-3 col-sm-6">

                <div class="service-social bblack">
                    <!-- Big number -->
                    <div class="service-big">10,<span class="lightblue">000</span></div>
                    <!-- Labels -->
                    <div class="label label-danger">Customers</div>
                    <div class="label label-info">Patients</div>
                    <div class="label label-success">Businesses</div>

                    <hr />

                    <!-- Social media -->
                    <div class="service-box bblue">
                        <!-- name and followers -->
                        <a href="https://www.facebook.com/pages/Abunda-Life/192585487425616">Facebook <span class="pull-right">Visit</span></a>
                    </div>
                    <div class="service-box borange">
                        <!-- name and followers -->
                        <a href="https://plus.google.com/107851858215651350075/about">Google Plus <span class="pull-right">Visti</span></a>
                    </div>
                    <div class="service-box blightblue">
                        <!-- name and followers -->
                        <a href="https://twitter.com/abundalife">Twitter <span class="pull-right">Visit</span></a>
                    </div>
                    <div class="service-box borange">
                        <!-- name and followers -->
                        <a href="http://www.youtube.com/channel/UCP6vdjMOW7f8RENwEEmA53w">YouTube <span class="pull-right">Visit</span></a>
                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>

            <!-- Service -->

            <div class="col-md-6 col-sm-6 service-list">

                <!--  Service #1 -->
                <!-- Service icon -->
                <div class="service-icon">
                    <i class="icon-camera bred"></i>
                </div>

                <div class="service-content">
                    <!-- Title -->
                    <div class="service-home-meta">Visit Abunda Life</div>
                    <h4>We have many alternative Services</h4>
                    <p>Call us 732-775-7575 or Come visit us.</p>
                </div>

                <hr />

                <!-- Service #2 -->

                <div class="service-icon">
                    <i class="icon-desktop blightblue"></i>
                </div>

                <div class="service-content">
                    <div class="service-home-meta">Modern</div>
                    <h4>Cutting edge Blood and Urine Analysis</h4>
                    <p>There are no guessing games, we use your blood and urine and run the results through our software</p>
                </div>

                <hr />

                <!-- Service #3 -->

                <div class="service-icon">
                    <i class="icon-cloud borange"></i>
                </div>

                <div class="service-content">
                    <div class="service-home-meta">Secure Cloud Service Hosting</div>
                    <h4>Everything in Cloud</h4>
                    <p>How do you be cutting edge without using data centers in the cloud all of the world, we recognize this.</p>
                </div>

                <hr />

                <!-- Service #4 -->

                <div class="service-icon">
                    <i class="icon-user bviolet"></i>
                </div>

                <div class="service-content">
                    <div class="service-home-meta">Specific Health Plans</div>
                    <h4>Very tailored programs to get your health back</h4>
                    <p>Dr. Sorge takes the thousands of case studies knowledge and applies what things work and alter them according to your specific needs.</p>
                </div>

                <br />


                <div class="clearfix"></div>

            </div>

            <!-- Image -->
            <div class="col-md-3 col-sm-6">
                <a href="#" class="service-image"><img src="~/Content/Templates/img/photos/girl2.png" alt="" class="img-responsive" /></a>
            </div>

        </div>

        <hr />

    </div>
</div>

<!-- Service and Social media ends -->
<!-- Features starts -->

<div class="features-one">
    <div class="container">

        <div class="row">

            <div class="col-md-6 col-sm-6">
                @*<a href="#"><img src="~/Content/Templates/img/photos/shots.jpg" alt="" class="img-responsive" /></a>*@
                <img src="~/Content/Templates/img/parallax/welcomebanner.jpg" />
            </div>

            <div class="col-md-6 col-sm-6">

                <h2>Best <span class="lightblue">Experience</span> Ever Made In The History Of The Alternative Medicine.</h2>
                <!-- Meta -->
                <div class="features-meta">
                    <i class="icon-desktop lightblue"></i> Safe -
                    <i class="icon-gift lightblue"></i> Professional -
                    <i class="icon-sitemap lightblue"></i> Effective
                </div>
                <p>Dr. Sorge can help get you on your way to a life you want.  </p>
                <a href="http://www.abundaweb.com" class="btn btn-danger btn-large">More information <i class="icon-double-angle-right"></i></a>
            </div>

        </div>
    </div>
</div>

<!-- Features ends -->
<!-- Pricing Table starts -->

<div class="pricing-table">
    <div class="container">
        <!-- Title -->
        <h3 class="title"><i class="icon-arrow-right title-icon"></i> Nutritional Testing</h3>

        <!-- Pricing table -->
        <!-- Price details. Note down the class name before you edit. -->
        <div class="row">

            <div class="col-md-6 col-sm-12">

                <!-- Add the class "phighlight" to highlight specific table -->
                <!-- Pricing table #1. Class name "price-a" -->
                <div class="price-a pricel center">
                    <div class="phead-top blightblue">
                        <!-- Title -->
                        <h4>Choice One - Copper Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <!-- Price. Use the syntax correctly. -->
                        <p><span class="pst">$</span> 297.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <!-- List -->
                        <ul>
                            <li>Choice One - Basic</li>
                            <li>No Laboratory Assessment</li>
                            <li>Office Visit / or Phone Consultation
Based on the most extensive Questionnaire developed for nutritional assessment
Naturopathic Nutritional interpretation of over 4,000 health systems
Personal Nutrition Consultation
Definitive Recommendations
Personal Nutrition Protocol based on your test results
Educational literature
One Year Subscription to our Newsletter</li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 597.00
                        Special Introductory Rate
                        Only - $297.00
                    </div>
                </div>

                <!-- Pricing table #2. Class name "price-b" -->
                <div class="price-b pricel center">
                    <div class="phead-top bgreen">
                        <h4>Choice Two - Silver Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <p><span class="pst">$</span> 597.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                            <li>Silver Level</li>
                            <li>Nutrition Testing and Personal Health Evaluation
With Extensive Laboratory
Diagnostic Testing</li>
                            <li>Includes:
Everything in Choice One Plus…..
About 75 Diagnostic Laboratory blood and urine
Tests for Nutritional diagnostic purposes
Initial office Visit
Iridology Analysis
Follow Up report of findings office visit
Nutritional Protocol based on your individual bio-chemestry
Individual nutritional counseling beased on your test results
Extensive computer readout</li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 1,997.00

                        Special Introductory Rate
                        Only- $ 597
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
             
            <div class="col-md-6 col-sm-12">

                <!-- Pricing table #3. Class name "price-a" -->
                <div class="price-a pricel center">
                    <div class="phead-top bviolet">
                        <h4>Choice Three - Gold Profile</h4>
                    </div>
                    <div class="phead-bottom">
                        <p><span class="pst">$</span> 997.00 <span class="psb"></span></p>
                    </div>
                    <div class="arrow-down"></div>
                    <div class="plist">
                        <ul>
                            <li>Option 3</li>
                            <li>Male / Female Hormone Profile</li>
                            <li>Includes :
Everything in Basic, Silver Plus....
Male / Female Hormone Testing
Adrenal Exhaustion Test
Hair Biopsy Testing for heavy Metal and Environmental polution
Hair Mineral Analysis
Human Growth (repair) & Hormone Testing for Anti-aging</li>
                        </ul>
                    </div>
                    <div class="pbutton">
                        <!-- button -->
                        @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
                        Regular Rate
                        $ 2,995.00
                        Special Introductory Rate
                        Only - $ 997.00
                    </div>
                </div>

    <!-- Pricing table #4. Class name "price-b" -->
    <div class="price-b pricel center">
        <div class="phead-top bred">
            <h4>Choice Four - Platinum Profile</h4>
        </div>
        <div class="phead-bottom">
            <p><span class="pst">$</span> 1,497.00 <span class="psb"></span></p>
        </div>
        <div class="arrow-down"></div>
        <div class="plist">
            <ul>
                <li>Option 4 </li>
                <li>Early Warning Preventitive Testing</li>
                <li>Includes :
Everything in Basic, Silver, Gold Plus....
Cancer Anti-body Testing
Stroke Precursor Test
Early Heart Disease Testing
Cellular Oxygen Deficiency Testing
Early Alzheimer's Prevention Testing
Blood Viscosity Testing
Pre-Diabetic Testing
Inflammatory Testing</li>
            </ul>
        </div>
        <div class="pbutton">
            <!-- button -->
            @*<a href="#" class="btn btn-danger btn-large">Buy Now</a>*@
            Regular Rate
            $ 3,995.00
            Special Introductory Rate
            Only - $ 1,497.00
        </div>
    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
<div>
    
</div>
<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Left box -->
                <div class="big-box-left bgreen">
                    <!-- Box content -->
                    <div class="box-content">
                        <!-- title -->
                        <div>Abunda Life uses the lastest Scientific Breakthrough in Blood Diagnostics for Nutrition, Metabolic and Hormonal Assessment. Abunda Life Nutritional Testing program interprets your Blood Tests and provides you a Personal Snapshot of your Symptomontology.
    Our Service May Include (Level Based):
    Your Initial Office Visit
    Your Blood and Urine Laboratory Fees
    for 60 Blood Tests and 12 Urine Tests
    Computer Analysis of Over 1000 Possible Symptoms, Body Signs andSignals
    Cellular Oxygen Analysis
    Iridology Analysis
    BodyFat Composition Analysis
    Interpretation of Diagnostic Laboratory Tests Specifically for Personal Nutrition, Hormonal and Metabolic Assessment Purposes
    Follow Up Report of Findings, Office Visit and Professional Recommendations
    Personal Plan of Action based on Your Test Results.
   </div>
                        <br /><br />
                        <!-- Links -->
                        @*<div class="box-links">
                                <a href="~/Home/UnderConstruction">Checkout other projects <i class="icon-double-angle-right"></i></a>
                                <a href="~/Home/UnderConstruction">Download Now <i class="icon-double-angle-right"></i></a>
                            </div>*@
                    </div>
                </div>

                <!-- Center box -->
                <div class="big-box-mid bgreen">
                    <!-- Image -->
                    @*<a href="#"><img src="~/Content/Templates/img/photos/girl1.jpg" alt="" class="img-responsive" /></a>*@
                    <a href="#"><img src="~/Content/Templates/img/parallax/who-what-when-where-why.jpg" alt="" class="img-responsive" /></a>
                </div>

                <!-- Right box -->
                <div class="big-box-right bblack">
                    <div class="box-content">
                        Recommendations Include:
                        Naturopathic Detoxification Program or Nutrition Program
                        Nutritional Supplementation Program
                        Alterative Medicine/ Naturopathic Medicine Treatment Plan all based on,Your Individual Bio-Chemistry
                        More Personal Health Data Analysis THAN YOU CAN IMAGINE!
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
    <!-- Pricing Table ends -->
    <!-- Clients starts -->

    <div class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Our Patients</h3>
                    <p><i class="icon-quote-left lightblue"></i>Thank you so much!<i class="icon-quote-right lightblue"></i></p>
                    <img src="~/Content/Templates/img/clients/amazon.png" alt="" class="img-responsive" />
                    <img src="~/Content/Templates/img/clients/google.png" alt="" class="img-responsive" />
                    <img src="~/Content/Templates/img/clients/twitter.png" alt="" class="img-responsive" />
                    <img src="~/Content/Templates/img/clients/facebook.png" alt="" class="img-responsive" />
                    <img src="~/Content/Templates/img/clients/skype.png" alt="" class="img-responsive" />
                    <img src="~/Content/Templates/img/clients/youtube.png" alt="" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <!-- Clients ends -->
