@{
    ViewBag.Title = "Boron";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Boron</p>
                <p>Nature’s calcium and mineral catalyst</p>
                <p>Boron is needed in trace amounts for healthy nerves, muscles, teeth, bones, and the metabolism of calcium and minerals.</p>
                <p>Boron enhances brain function and promotes alertness.  Many people have difficulty absorbing calcium, boron aids in the absorption of calcium.  It’s known as a hardener.  Boron deficiency accelerates osteoporosis, vitamin D and calcium deficiencies.</p>
                <p>Boron supplementation helps to prevent post-menopausal osteoporosis and loss of lean muscle mass associated with aging.  A study conducted by the U.S. Department of Agriculture indicated that within eight days of supplementing their daily diet with 3 milligrams of boron, the test group of post-menopausal women lost 40% less calcium and slightly less phosphorus through their urine than they had before supplementation.</p>
                <p>Boron potentates estrogen’s role in building and maintaining strong muscles, nerves, teeth and bones by helping to convert vitamin D into its active form necessary for the efficient absorption of calcium.</p>
                <p>Boron is essential for bone metabolism, calcification of bones and helps prevent osteoporosis, arthritis, and tooth decay.  Boron is necessary for cartilage formation and repair.  Memory and brain function can improve with boron supplementation.  Boron plays a role in regulating hormone production and balance. Boron deficiency can cause weak and fragile cell walls, affecting any and every system of the body.  Some research shows that boron improves libido.  Boron is associated with and stores in the parathyroid.</p>

                Natural food sources of Boron:
                Apples                 Almonds                 Rice bran                    Spinach
                Carrots                 Pears                       Sesame seeds              Green leafy vegetables
                Grapes                 Steel cut oats           Flaxseeds

                Abunda Life Naturopathic food medicine formulas:
                Garden of Eden                       Rainbow Juice Powder            Almond Milk
                Green Gorilla                           Super Green



                Homeopathic remedies:
                #37             #822           #828

                Phytonutrient supplement formulas:
                Super Juice Plus
                South Pacific Spirulina
                Deep rooted Canadian alfalfa

                Herbal source:
                Silica
                Shavegrass/Horsetail


                Symptoms of Boron deficiency:
                Arthritis
                Brittle bones
                Soft teeth
                Carpal tunnel syndrome
                Degenerative joint disease
                Female hormone imbalance
                Loss of libido
                Joint pain
                Lower back pain
                Nervousness
                Forgetfulness
                Muscle pain
                Osteoporosis (post-menopausal)
                Inability to concentrate
                Receding gums
                Week cartilage
                Mental dullness
                Cavities
                Shoulder pain
                Brain fog

            </div>
        </div>
    </div>
</div>

