@{
    ViewBag.Title = "Index of Minerals";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Calcium</p>
                <p>Nature’s Knitter</p>
                <p>Calcium is vital for the formation of strong gums, nerves, muscles, teeth, and bones.  Regular heartbeat and transmissions of nerve impulses are dependent on calcium stores.  Calcium lowers cholesterol levels and helps prevent cardiovascular disease.  It is needed for muscular growth and contraction, and prevention of muscle cramps.</p>
                <p>Calcium may increase the rate of bone growth and bone mineral density in children.  This important mineral is also essential for blood clotting, lowering blood pressure, prevention of tooth decay, osteoporosis, and the prevention of cancer.</p>
                <p>Calcium provides energy and participates in the protein structuring of RNA and DNA.  It protects against eclampsia during pregnancy, the number one cause of maternal death.</p>
                <p>High protein diets, soda drinking, coffee, alcohol, sugar, and medications affect calcium utilization, as do antacids and the mindless popping of an over the counter drug known as “Tums.”  These types of medications disrupt the body’s natural stomach acids necessary for the absorption of calcium.</p>
                <p>Calcium is the most essential biochemical element needed for human nutrition.  Every organ of the brain and body needs it.  Calcium is called “nature’s knitter” because it promotes repair and healing of cells throughout the body.  It is needed for tone, power, strength, longevity, vitality, healing and metabolism.</p>
                <p>Calcium is the first deficiency to be felt by the body when the diet is out of whack.  For that reason, almost everyone is either calcium deficient, or borderline deficient.  Few people have adequate calcium reserves.</p>
                <p>Calcium is stored in the nerves, muscles, blood, teeth and bones.  Magnesium and vitamin D help calcium to absorb while sodium helps keep calcium in solution.  Calcium must be water soluble to be usable.  All other form is rejected at cell level by the mitochondrion.</p>
                <p>Calcium raises the body’s resistance to viruses, parasites, bacteria, arthritis, stroke, heart disease, and cancer.  A lack of calcium leads to a host of diseases and degenerate diseases.</p>
                <p>Calcium is necessary to keep the body’s acid/alkaline pH in balance.</p>
                <p>Sugar, as you no doubt already know, sucks the calcium out of your body, as do junk foods, medications, “things go better with coke,” and “the Atkin’s super diet.”</p>


                Phytonutrient/nutraceutical supplements:
                24 super minerals                                                Arthritis                        Nerve builder
                Bone, teeth, and nail formula                            Calcium orotate         Silica
                Osteo-joint and cartilage relief formula
                Natural foods sources high in calcium:
                Raw milk, Brewer’s yeast, Filberts, Yogurt, Torulia yeast, Kale, Goat milk, Broccoli , Mustard greens,Raw milk cheese, Buttermilk, Prunes, Cottage cheese, Cabbage, Sesame seeds, Salmon, Carob, Soy beans, Sardines, Collard greens, Tofu, Clean fish with bones, Dandelion greens, Turnip greens, Almonds,Dulse,  Watercress, Asparagus, Kelp, Whey, Blackstrap molasses, Figs

                Herbal Formulas:
                Deep rooted Canadian alfalfa     Oat straw                                Dandelion
                Burdock root                                   Parsley                                    Yarrow
                Capsicum                                         Peppermint                            Fennel seed
                Chamomile                                      Red clover blossom              Yellow dock
                Chickweed                                       Rose hips                                Fenugreek

                Homeopathic remedies:
                #37

                Symptoms of calcium deficiency:
                PMS                              Bell’s palsy                    Enlarged heart
                Acne                              High-strung                 Muscle cramps
                Cancer                           Convulsions                Receding gums
                Rickets                           Tooth decay                Low resistance
                Eczema                          Osteomalacia             High cholesterol
                Cavities                         Osteoporosis              Heart palpitations
                Arthritis                        Fibromyalgia                Heavy metal toxicity
                Acidosis                         Nervousness               High toxic conditions
                Insomnia                       ADD/DHHD                  Cognitive impairment
                Twitches                        Hypertension              Arthritis like symptoms
                Cataracts                       Aching joints              Carpal tunnel syndrome
                Delusions                       Panic attacks             Fear of unknown origins
                Gallstones                      Hyperactivity            White spots on fingernails
                Numbness                     Common cold             Chronic Fatigue syndrome
                Depression                     Undue fatigue            High or low serum calcium
                Brittle nails                    Kidney stones

            </div>
        </div>
    </div>
</div>

