@{
    ViewBag.Title = "Chromium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Chromium</p>
                <p>Nature’s Blood Sugar Stabilizer.</p>
                <p>Because chromium is so intimately involved with the metabolism of glucose, it has also been called Glucose Tolerance Factor (GTF).  Chromium is essential for energy production.</p>
                <p>Chromium is vital in the synthesis of cholesterol, fats, and proteins.  This essential mineral maintains stable blood sugar levels through proper insulin utilization and can be helpful both for people with diabetes and hypoglycemia.  Studies have shown that low plasma chromium can be an indication of coronary artery disease.</p>
                <p>A deficiency in chromium can lead to anxiety, fatigue, glucose intolerance, inadequate metabolism of proteins, breakdown of amino acids, and an increase risk of arteriosclerosis.</p>
                <p>Chromium supplementation has been used successfully to control blood cholesterol and blood glucose levels.  Chromium helps promote body fat loss and increase in lean muscle tissue.  Studies show it may increase longevity and help fight osteoporosis.</p>
                <p>Chromium deficiency is a major factor in the continual increase of our nation’s development of heart disease, heart attacks, hardening of the arteries, and circulatory disorders.  Chromium is non-existent in the soil in most parts of the country. As if that weren’t bad enough, many Americans have difficulty absorbing chromium.</p>
                <p>Chromium regulates blood sugar levels.  It helps the body to lose weight by stimulating specific enzymes that metabolize glucose for energy.  It plays an important role in proper liver function especially in the liver synthesis of essential fatty acids and burning fat for energy.</p>
                <p></p>When the body is deficient in chromium at least twice the amount of time is needed for insulin to remove glucose from the body.  The body becomes an inefficient, sluggish, fat storing machine, rather than a high-energy, efficient, fat burning machine.  Chromium enhances insulin performance, glucose utilization, energy production, and protein synthesis.</p>
                <p>Chromium works best when taken before meals and between meals.  Abunda Life Clinic patients mix four tablespoons of liquid chromium in a gallon of distilled water known as Jug 1, which they drink all day between meals, enabling hydration and energy levels to remain optimum all day long.</p>
                <p>Refined sugar, junk food, and depleted foods cause the body to deplete chromium.  This is one of the reasons junk food junkies are usually nervous wrecks.  Strenuous exercise, stress, anxiety, worry, mindless diets, mal-absorption, constipation, alcohol, tobacco, and medications can cause rapid depletion of chromium stores.</p>
                <p>The elderly are unable to store as much chromium in the body as younger people are.  White flour products, refined starches, and fast foods rob, suck, and deplete chromium.  After we study the typical American diet, what should amaze us is not that we have so much illness, but that half our population isn’t dead.</p>

            </div>
        </div>
    </div>
</div>

