@{
    ViewBag.Title = "Cobalt";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Cobalt</p>
                <p>Nature’s Enzyme Catalyst</p>
                <p>Cobalt is an essential mineral needed by the body in small amounts.  Cobalt is stored primarily in red blood cells.</p>
                <p>This trace mineral helps with the repair of the myelin sheath.  It also increases the effectiveness of glucose transportation from the blood into the cells.  This process is essential for energy production.  Most diabetics, hypoglycemics, and low energy people have been deficient in cobalt most of their lives.</p>
                <p>Cobalt increases the assimilation of iron and the building of red blood cells.  There has been much discussion recently in the medical community concerning too much iron and high serum iron.  When iron is found above an acceptable norm in the blood, it is due to supplementing with synthetic mineral supplements and/or iron out of solution.  In naturopathic medicine we believe the body knows how to properly discharge excesses of minerals and vitamins when they are ingested in food form.  Drugs are always a problem even when they’re packaged under the name of vitamin/mineral supplement.</p>
                <p>Cobalt helps bring iron into solution.  High serum iron is a sign of cobalt deficiency.  It is also an important agent of vitamin B12 assimilation.  Cobalt is an enzyme catalyst that normalizes the performance of many other bodily cell functions.  Cobalt is an absolute necessity for anyone suffering from anemia, especially for those taking vitamin B12 and iron experiencing slow recovery.</p>

                Natural food sources of cobalt:
                Raw milk                       Organic apricots                      Raw milk cheese
                Organic liver                  Sea vegetables                         Raw goat’s milk
                Apricot kernels              Organic red meat

                Individual herbs:
                Irish moss

                Phytonutrient/nutraceutical supplements:

                Sea life                 Sea cal                  24 super minerals

                Naturopathic food medicine formulas:
                Sea cal                           South pacific spirulina
                Thyroid broth                Irish moss/Pacific sea kelp
                Some symptoms of cobalt deficiency:
                Brain fog                        Slow growth rate                     Chronic fatigue syndrome
                Nerve damage                Slow muscle growth                Slow growth in children
                Undue fatigue                Pernicious anemia                  High or low serum iron
                Slow recovery                Digestive disorders                  Poor circulation
                Fibromyalgia                 Myelin sheath damage
                B12 & iron deficiency despite of supplementation

            </div>
        </div>
    </div>
</div>

