@{
    ViewBag.Title = "Copper";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Copper</p>
                <p>Nature’s Parasite Protector</p>

                <p>Copper is a trace mineral that aids in the formation of bone, hemoglobin, and red blood cells.  It works to balance with zinc and vitamin C to form elastin.  It is involved in the healing process, energy production, hair, skin, taste, and sensitivity.  Copper is also needed for healthy nerves and joints.</p>
                <p>Copper is essential for the formation of collagen, one of the essential proteins that make up bone, skin and connective tissue.</p>
                <p>The consumption of sugar worsens copper deficiency.  A study conducted by the U.S. Department of Agriculture demonstrated that people who obtained 20% of their daily calories from sugar showed decreased levels of red blood cell’s Superoxide Dismutase (SOD), a copper dependent enzyme critical to antioxidant protection within the red blood cells.</p>
                <p>Copper is an essential mineral.  If the body is deficient in copper, hemoglobin production is decreased and copper deficiency anemia can result.  Deficiency can lead to inefficient utilization of iron and protein.  A deficiency of copper may also manifest itself in skin sores, impaired respiration and general weakness.</p>
                <p>Oral contraceptives can upset the bodies copper balance causing excessively high cholesterol levels.  Low copper levels have been associated with mental and emotional instability.</p>
                <p>Copper stores are concentrated in the liver, heart, kidneys, brain, bones, and muscles and is essential in the blood.  Trace amounts are present in all body tissues.  Copper increases iron assimilation.  Copper works together with iron in the formation of hemoglobin and red blood cells.  Anemia is as often a copper deficiency as an iron deficiency.</p>
                <p>Various enzyme reactions require copper.  Copper influences protein metabolism and general healing.  Copper improves vitamin C oxidation and is integral in the formation of RNA.  Copper deficiency is associated with mental dullness.</p>
                <p>Copper is nature’s answer to parasites.  Once supplementary copper is taken, parasites will do anything to get out of the system.  You may experience a toxic flush or even a healing crisis.  This is where all of your symptoms seem to get worse.  This is only temporary, a normal healing channel of the body and, believe or not, a very good thing.  You may even experience abdominal cramping, rashes, itching, allergy type symptoms, etc…  These are all common symptoms of a parasite cleanse.  Most people find themselves feeling better than ever after going through the cleanse.</p>
                <p>Copper is a wonderful supplement for beautiful skin and hair, as well as arteries, metabolism and cellular oxidation.  A little bit goes a long way you don’t need much.</p>

                Natural food sources of copper:
                Liver                     Oranges                         Soy beans
                Beets                    Avocados                       Black beans
                Barley                  Broccoli                           Beet greens
                Garlic                    Lentils                           Raw almonds
                Pecans                  Radishes                        Raw almond butter
                Salmon                 Mushrooms                    Blackstrap molasses
                Raisins                 Oat groats                      Green leafy vegetables

                Naturopathic food medicine formulas:
                Almond milk                           Rainbow juice powder
                Super greens                          Parasite annihilation powder
                Anti-anemia broth                   Almond amino acid/protein
                Beet juice powder                    Grandpa’s blackstrap molasses

                Herbal formulas:
                Herbal blood builder               Beet root                        Gingko biloba

                Botanical formula:
                Circulation formula

                Phytonutrient supplements:
                Anti-anemia complex              24 super minerals                    Endurill

                Symptoms of copper deficiency:
                Edema                            Osteoporosis                           Gulf war syndrome
                Anemia                          Heart disease                           Parkinson’s disease
                Hernias                          Wrinkled skin                          Low blood pressure
                Arthritis                         Ruptured disc                          Hypo/Hyper thyroid
                Dry hair                         Forgetfulness                           Oppressed breathing
                Allergies                        Skin eruptions                         Respiratory disorders
                Parasites                       Dry white hair                         Vitamin C deficiency
                Brain fog                       Varicose veins                        Protein mal-absorption
                Skin sores                     Liver cirrhosis                         Reduced glucose tolerance
                Brittle hair                     Cold extremities                      Jekel and Hyde personality
                Graying hair                  Mental instability

            </div>
        </div>
    </div>
</div>
