@{
    ViewBag.Title = "Index of Minerals";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Electrolyte Formula</p>
                <p>Nature’s Spark of Life</p>
                <p>Without electrolytes the human body could not function.  Electrolytes are like the spark plugs of your automobile.  They make everything happen that happens.</p>
                <p>Electrolytes are basically ionized minerals found in body fluids and the blood stream.  In the proper solution they conduct electric currents essential to every gland, organ, system, and cell of your body.</p>
                <p>Distilled or pure water is the mineral carrier that transports electrolytes in and out of cells.</p>
                <p>Electrolytes are essential to the production of enzymes, the function of cells and in maintaining a normal pH balance in the body and digestive system.  Electrolytes also maintain a normal body fluid balance including osmosis, the cell’s internal and external fluid pressure, and blood pressure.</p>
                <p>Electrolytes are cellular galvanizers.  All cellular structures become alive through electrolyte activity.  Life begins with electrolytes at the cellular level.</p>
                <p>The entire human body is a bioelectric organism.  The nervous system and brain all operate by way of electrical energy.  Electrolytes are both the switch and the energy source.  When electrolytes are depleted, body systems become run down, tired, and sluggish, similar to the batteries running down in your flashlight.</p>
                <p>In the human body when the electrolyte supply is adequate, all systems work well, but when electrolytes run down all system’s batteries begin to wind down, grow weak, slow, and malfunction.</p>
                <p>Human cells require nutrition to function.  They use fatty acids, water and glucose.  Without electrolytes nutrients are useless.  Electrolytes act as positive and negative electrodes producing their voltage potential.  Each cell acts as a tiny battery with a deficient electrical charge on the inside and outside of its cell wall.  The stimulation of a nerve cell sends a wave of depolarization down the nerve fiber, releasing potassium and moving sodium into the cell.  As the electrical current passes, the charge difference at the cell wall is re-established as the potassium is pumped back inside the cell.  This sets up an electromagnetic current, which makes up our energy system.  It is this subtle energy that produces life at the cell level.</p>
                <p>In short, the body cannot function without electrolytes.  They are the sparks of life that activate all other nutrients.  It is possible for the body to temporarily function with a vitamin deficiency, but it begins to malfunction immediately when electrolytes become in short supply.</p>
                <p>What can contribute to an electrolyte imbalance or deficiency?  White sugar products, devitalized foods, junk foods, pepsi drinks, coffee, chocolate, thyroid problems, hot days, lack of drinking distilled water, excess salt, dead commercial salt, overeating, constipation, diarrhea, excess sweets, pregnancy, pre-menopause, teen growth, athletic training, medications, drugs of every kind, alcohol, illness, stress, anxiety, lack of fresh green vegetables, excess menstruation, and aging.</p>
                <p>Most degenerate diseases correspond commitently with electrolyte deficiency.  Pharmaceutical researches continue to look down their microscopes attempting to develop new chemical compounds to suppress disease symptoms.  In naturopathic medicine we place our attention on prevention of disease by enhancing the immune system through nutrition.  Electrolytes are a long overlooked but essential part of nutrition.  In fact, it is the missing piece to most nutrition programs.</p>
                <p>Abunda Life laboratories’ electrolyte formula is a live electrically charged mineral complex, which, because of its crystalloid state (the state beyond colloidal), bypasses the digestive process and absorbs directly into the body passing through cell walls within minutes of ingestion.</p>
                <p>Electrolytes improve digestion, assimilation, conversion, and utilization, thereby affecting every bodily function.  The delicate acid/alkaline pH balance is kept stable by electrolytes, resulting in the production of digestive acids, enzymes, essential fatty acids, proteins, and carbohydrate metabolism enhancement.</p>
                <p>Electrolytes aid in the conversion of proteins to their component amino acids.  The ability of nutrients taken up and manufactured by the body is also increased and the elimination of toxins is up regulated.</p>
                <p>Electrolytes are so important because the production of digestive enzymes is impaired if minerals aren’t available.  This results in an incomplete digestion of starches resulting in intestinal fermentation.  This in turn limits the production of lactic acid, alters pH and creates the kind of environment that putrefactive bacteria and candida love and acidophilus bacteria struggle to survive in.</p>
                <p>A healthy colon is acid but a population explosion of putrefactive bacteria produces an overly alkaline environment, which, apart from being unfriendly to acidophilus, is irritating and destructive to the delicate lining of the digestive system.</p>
                <p>As a result of electrolyte deficiency, putrefaction takes place, which engenders toxins that are reabsorbed back into the body.</p>
                <p>In naturopathic medicine we believe this is how disease starts.   Toxins decrease bio-energy and the body’s efficiency.  Toxins add to the risk of developing arteriosclerosis, kidney, gall bladder and liver disease.</p>
                <p>Good flora and acidophilus bacteria cannot grow in the intestines unless the body’s pH is virtually perfectly balanced – this is only possible with electrolytes.</p>


                Electrolyte deficiency symptoms:
                Gas                                Bad breath                               Sugar craving
                PMS                               Impotence                                Hypoglycemia
                Fatigue                           Gall stones                              Fiberomyalgia
                Cramps                          Indigestion                               Poor circulation
                Anxiety                          Depression                              Arteriosclerosis
                Toxicity                         Overweight                              Attention deficit
                Diabetes                         Constipation                             Rapid heart beat
                Acidosis                         Nervousness                                 Thyroid troubles
                Twitches                        Hypermotion                                  Auto intoxication
                Colds/flu                        Hypertension                                 Liver dysfunction
                Insomnia                        Heart disease                           Kidney dysfunction
                Brain fog                        Hyperactivity                          Mal-absorption syndrome
                Body odor                     Acid stomach

            </div>
        </div>
    </div>
</div>

