@{
    ViewBag.Title = "Germanium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Germanium</p>
                <p>Nature’s Oxygen Catalyst</p>


                <p>Germanium is an exciting trace mineral that improves cellular oxygenation. It helps to fight pain, keep the immune system functioning properly, and rid the body of toxins and poisons.</p>
                <p>Supplementing with organic liquid germanium is an effective way to increase tissue oxygenation because, like hemoglobin, germanium acts as a carrier of oxygen to cells.</p>
                <p>Japanese scientist, Kazuhiko Assi, discovered that an intake of germanium as a nutritional supplement each day improved many illnesses including rheumatoid arthritis, food allergies, elevated cholesterol, candidiasis, chronic viral infections, cancer, and AIDS.</p>
                <p>In 1931, Nobel Prize winner Dr. Otto Wanberg proved that cancer cells couldn’t live in oxygen.</p>
                <p>Germanium is one of the most dynamic new discoveries in the realm of trace minerals necessary for optimum nutritional wellness.  Germanium raises the level of activity of various organ functions by facilitating oxygen uptake and helping to expel harmful pollutants, disinfectants, and arresting germ activity.  Germanium serves as an electrical semiconductor helping to correct distortions in the body’s electrical field.</p>
                <p>Germanium is so new of a nutritional finding that it is still being researched for all its possible supplementary applications.  Naturopathic doctors and medical nutritionists have used pure crystalloid liquid germanium in their nutritional protocols for low immune system response, low energy and cancer, all of which indicate germanium deficiency.  Germanium is believed to act as an anti-cancer agent and cancer prevention.  It is effective for viral, bacterial, and fungal infections and candida.</p>

                Natural foods sources high in germanium; to be taken in conjunction with liquid germanium therapy:
                Garlic                             Onions                 Shitake mushrooms

                Raw juice therapy:
                Carrot 6oz
                Onion 2oz
                Garlic 1oz

                Naturopathic food medicine formulas:
                Green gorilla                            Chinese garlic powder
                Super endurance                    Naturopathic purification powder
                South pacific spirulina

                Homeopathic remedies:
                Homeopathic oxygen              Homeopathic  #18

                Phytonutrient supplements:
                Ginseng                RNA/DNA                     Vitamin E complex
                Suma                    Gingko Biloba
                Endurill                Super juice plus

                Symptoms of Germanium deficiency:
                Cancer                  Nephritis                                 Hepatic cirrhosis
                Stroke                  Brain anemia                           Liver sluggishness
                Anxiety                Forgetfulness                           Softening of brain tissue
                Asthma                Hypertension                           Anemia in extremities
                Acidosis               Frequent colds                         Low red blood cell count
                Brain fog              Weak heart                              Oxygen deficiency symptoms
                Confusion            Viral infections                        Mental disorientation
                Leukemia             Short windedness                    Circulatory disorders
                Toxicity                Cardiac insufficiency               Lack of concentration

            </div>
        </div>
    </div>
</div>

