@{
    ViewBag.Title = "Gold";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Gold</p>
                <p>Nature’s Anti-aging Factor</p>

                <p>Gold promotes an up feeling, a general euphoric feeling as it enhances the body’s natural defenses against illness.  Gold promotes vitality and longevity.  It has been found to improve glandular function.  It helps the body to relax.  It helps repair damaged DNA.  Some people report that after taking gold for an extended period of time, that it raises energy levels.</p>
                <p>Gold is effective against joint inflammation.  For centuries gold water has been used by the American Indians for tribe members with mental and emotional disturbances similar to our modern day despondency/depression syndromes.</p>


                Some symptoms related to gold deficiency:
                Chills                             Sleeplessness                           Sugar addiction
                Cancer                           Frustration                              Glandular dysfunction
                Obesity                          Fear of failure                          Joint inflammation
                Insomnia                        Fluoride toxicity                      Drug/Alcohol addiction
                Melancholy                    Fear of old age                         Feeling down in the dumps
                Depression                     Fear of ill health                      Arthritis like symptoms
                Heat flashes                    Brian dysfunction                    Digestive disorders
                Night sweats                  Circulatory disorders
                Mental anguish              Seasonal Affective Disorders (SAD)

            </div>
        </div>
    </div>
</div>