@{
    ViewBag.Title = "Index of Minerals";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <ul>
                    <li><a href="~/Minerals/Boron">Boron</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Calcium">Calcium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Chromium">Chromium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Cobalt">Cobalt</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Copper">Copper</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Electrolytes">Electrolytes</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Germanium">Germanium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Gold">Gold</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Iodine">Iodine</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Iron">Iron</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Lithium">Lithium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Magnesium">Magnesium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Molybdenum">Molybdenum</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Platinum">Platinum</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Potassium">Potassium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Selenium">Selenium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Silver">Silver</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Sulfur">Sulfur</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Vanadium">Vanadium</a></li>
                </ul>

                <ul>
                    <li><a href="~/Minerals/Zinc">Zinc</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

