@{
    ViewBag.Title = "Iodine";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Iodine</p>
                <p>Nature’s Thyroid Nutrient</p>

                <p>Iodine is essential for optimal thyroid gland function.  According to Rhoda Barns M.D., hypothyroidism is the most under-diagnosed and misdiagnosed medical condition in America.  He stated the reason for this is that the medical profession is trained to uncover and diagnose disease.  It is possible for the thyroid not to be diseased, but to be under-performing.  Many conditions that medical doctors state as “all in your head” are in fact functioning less than optimal.</p>
                <p>Although iodine is needed only in trace amounts, it is only a very small difference in iodine that makes the difference between a creative Einstein like genius and a helpless idiot.  A small difference between disease and high level wellness.</p>
                <p>There is also a medical condition known as Secondary Hypothyroidism in which the thyroid gland is functioning perfectly, but the pituitary gland is under-performing, causing the thyroxine to be blocked and unable to be delivered to the cell.  In naturopathic medicine, we do not believe it is possible for the thyroid gland to function optimally without an abundant supply of this essential trace mineral.</p>
                <p>While it is true that most Americans may not be suffering from a goiter or a diagnosed thyroid disease.  Most Americans are deficient in iodine because of it being deficient in our soil.  As a result most people’s thyroid gland are operating sub-optimally.</p>
                <p>In naturopathic medicine, we never drug the thyroid with harmful drugs.  There are two aspects of the thyroid that we address in drugless medicine.  One is the actual hormonal insufficiency itself, with natural thyroid hormone replacement.  This requires naturopathic/medical monitoring, which requires that you be under professional care.  The second is the nutritional aspect, which can be addressed with sensible self-care.</p>
                <p>The thyroid like all other glands, organs and systems of the body requires specific nutrition.  The thyroid is an iodine organ.  This means more of this specific element is stored in the thyroid than any other part of the body.</p>
                <p>Liquid iodine addresses the nutritional aspect of the thyroid more effectively than any other known supplement today for reasons presented to you in our introduction.</p>
                <p>Hormones produced by the thyroid regulate and control the metabolism of the body, increasing the assimilation of cell salts.  The thyroid controls digestion, elimination, heart rate, body temperature, nervous system, reproductive system, metabolism, physical and mental energy, moods, fat burning and weight control.</p>
                <p>Iodine protects the brain and central nervous system from harmful toxins and helps neutralize toxins in the rest of the body.  Iodine helps to assimilate calcium and silicon.</p>
                <p>Skin conditions such as dry and scaly skin are often related to the thyroid.</p>




                Natural food sources of iodine:
                Kelp                     Garlic                             Irish moss                      Mushrooms
                Eggs                     Squash                 Asparagus                     Raw spinach
                Pears                    Papaya                 Ocean fish                      Sesame seeds
                Dulse                    Pineapple             Lima beans                    Turnip greens
                Mango                  Celtic salt             Swiss chard                             Sea vegetables

                Herbal formulas:
                Kelp                     Irish moss                      Chinese garlic

                Homeopathic remedies:
                #54                       #806

                Botanical healing teas:
                Metabolic balancer

                Naturopathic food medicines:
                Thyroid broth                Irish moss/Kelp                       Green gorilla

                Phytonutrient/Nutraceutical supplements:
                Sea life                                     Natural thyroid hormone
                17 super minerals                    Replacement Rx therapy

                Symptoms of iodine deficiency:
                Acne                              Depression                              Can’t stand cold
                Goiter                            Miscarriage                              Cold extremities
                Sterility                          Weight gain                             Hypothyroidism
                Bloating                         High-strung                             High cholesterol
                Dry skin                         Constipation                                     Hyperthyroidism
                Lethargy                        Nervousness                           Slow metabolism
                Infertility                        Low body heat                        Hormonal imbalance
                Cretinism                       Excess body fat                       Inability to concentrate
                Scaly skin                      Can’t stand heat                      Inability to gain weight
                Frustration
                Inability to adapt to temperature change

            </div>
        </div>
    </div>
</div>
