@{
    ViewBag.Title = "Iron";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Iron</p>
                <p>Nature’s Red Blood Builder</p>

                <p>Perhaps the most important function of iron in the body is the production of hemoglobin and myoglobin, the form of hemoglobin found in muscle tissue, and the oxygenation of red blood cells.</p>
                <p>The blood is an iron element.  More iron is found in the blood than any other part of the body.  Iron is necessary to carry oxygen in the blood to the cells, without oxygen the cells die.  Iron is essential for many enzymes, including catalase, and is important for growth.  It is also required for a healthy immune system and for energy production.</p>
                <p>Iron is known as the “energy giver.”  It attracts oxygen and builds red blood.  It is necessary in order to recover from illness.  Iron also helps rid the body of carbon dioxide and helps keep the liver soft and healthy.</p>
                <p>Iron combines with other nutrients to produce vital blood proteins and is involved in food metabolism, digestion, elimination, circulation, and helps maintain proper blood pressure levels.</p>
                <p>Synthetic iron supplements like “One a day with iron” are not food supplements, but drugs.  They should be legally renamed “Chemical supplements.”  These substances cause high serum iron in the blood, which is potentially life threatening.  Naturopathic doctors have been warning you about these types of so-called iron supplements for years.  Now that millions of Americans are taking vitamins the “Johnny Come Lately” medical profession is advising people to be careful of taking supplements with iron.  Their lapdog New York Times has even issued a warning against taking any type of iron supplement.</p>
                <p>This type of advice is typical of the drug pushers.  They go from one extreme to the other.  If they would have opened their closed minds and listened to what we were saying for the last four decades, they would have understood that any type of iron that does not come from a food source, not soluble in water, or not in a crystalloid form, is automatically rejected at cell level.</p>
                <p>Bad medical advice is costly.  It’s killing more Americans than other causes.  Taking inorganic minerals is just another example of bad medical advice.  It seems that someone in the medical establishment/monopoly should know there’s a difference between organic and inorganic chemistry.</p>



                Natural food sources high in iron:
                Kelp                     Soy beans                      Brewer’s yeast
                Pears                    Black beans                    Organic calf liver
                Dates                    Watercress                     Organic red meat
                Millet                    Sesame seeds                 Blackstrap molasses
                Lentils                  Sea vegetables                Organic chicken liver
                Peaches                Black cherries

                Individual herbs:
                Catnip                            Beet root                        Dandelion
                Alfalfa                            Capsicum                       Chamomile
                Chicory                          Chickweed                     Burdock root

                Phytonutrients/Nutraceutical supplements:
                Endorill                          Anti-anemia complex
                Green gorilla                  Herbal blood builder

                Naturopathic food medicine formulas:
                Green gorilla                            Vegetarian blood builder
                Super blood builder                 Grandpa’s Blackstrap molasses

                Some symptoms of iron deficiency:
                Fatigue                           Confusion                      Lack of stamina
                Anemia                          Headaches                      Light headedness
                Anorexia                        Dysphasia                      Lack of endurance
                Pale skin                        Depression                     Cold feet and hands
                Hair loss                        Constipation                           Difficulty swallowing
                Ice eating                        Nervousness                            Digestive disturbance
                Dizziness                        Fragile bones                 Slowed mental reactions

            </div>
        </div>
    </div>
</div>
