@{
    ViewBag.Title = "Lithium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Lithium</p>
                <p>Nature’s Anti-depressant</p>

                <p>Lithium is a trace mineral that, for all practical purposes, is absent from our soil due to commercial farming methods.  The mineral lithium is of course different form the drug by the same name.</p>
                <p>Lithium has been used in treating alcoholism, manic depression, Jekle and Hyde personality changes, and mental/emotional instability.</p>
                <p>Unlike the drug, water-soluble mineral lithium does not have the side effects (poisoning effects) commonly associated with lithium compounds.</p>

                Naturopathic food medicine formulas:
                South pacific spirulina
                Garden of Eden
                Rainbow juice powder

                Symptoms of lithium deficiency:
                Depression
                Manic depression
                All mental disorders
                All behavioral disorders

            </div>
        </div>
    </div>
</div>