@{
    ViewBag.Title = "Magnesium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Magnesium</p>
                <p>Nature’s Tranquilizer</p>

                <p>Magnesium is necessary to prevent the calcification of soft tissue.  This essential mineral protects the arterial lining from stress caused by sudden blood pressure changes, plays a role in the formation of bone, and carbohydrate and mineral metabolism.  It helps protect against kidney stones.</p>
                <p>Recent research has shown that magnesium may help prevent cardiovascular disease, osteoporosis and certain types of cancer.  Magnesium helps to dissolve calcium stones, kidney stones, and gall stones.  It reduces cholesterol.  It is effective in preventing premature labor and convulsions in pregnant women.</p>
                <p>A deficiency in magnesium interferes with the transmission of nerve and muscle impulses causing irritability and nervousness.  Magnesium is a natural tranquilizer.  It is known as the anti-stress mineral.  It aids in relaxing nerves, relieving tension, assisting digestion, activating enzymes necessary for protein and carbohydrate metabolism and modulating the electrical potential across the cell membrane.</p>
                <p>Magnesium is important in the production and transfer of energy, muscle contraction, relaxation, and nerve conduction.  Magnesium aids in bone regularity, is necessary to keep the vertebrae in their proper position, prevent spinal subluxation and to hold chiropractic adjustments.  It induces restful sleep, purifies, detoxifies, and purges body tissues, combats acids, toxins, gases, and impurities, neutralizes poisons, and lowers fever.  Most importantly magnesium deficiency exacerbates the symptoms of every known disease.</p>
                <p>Magnesium is stored in the colon, nerves, and connective tissue.</p>

                Natural foods sources high in magnesium:
                Kelp                     Sea vegetables                Raw goat’s milk
                Yogurt                  Cottage cheese               Dandelion greens
                Almonds              Raw cow’s milk             Blackstrap molasses

                Individual herbs:
                Alfalfa                  Horsetail
                Catnip                  Dandelion

                Phytonutrients/Nutraceutical supplements:
                Cal/Mag               Catalyst
                Sea cal                  24 super minerals

                Naturopathic food medicine formulas:
                Sea cal                                     South pacific spirulina
                Green gorilla                            Vegetarian magnesium broth
                Super magnesium broth

                Some symptoms of magnesium deficiency:
                PMS                               Headaches                               Poor digestion
                Asthma                          Depression                              Rapid heart beat
                Cramps                          Gall stones                              Muscular tremors
                Vertigo                           Arrhythmia                             Organ calcification
                Anorexia                        Constipation                           Muscular weakness
                Insomnia                        Convulsions                                      Pulmonary disorder
                Twitches                        Hypertension                           Myocardial infraction
                Wrinkles                        Fibermyalgia                           Irritable bowel syndrome
                Migraines                       Heart disease        Neuromuscular problems
                Irritability                      Chronic pain
                Confusion                      Kidney stones

            </div>
        </div>
    </div>
</div>

