@{
    ViewBag.Title = "Molybdenum";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Molybdenum</p>
                <p>Nature’s Metabolic Balancer</p>

                <p>Molybdenum is an essential trace mineral that aids in the final stage on nitrogen metabolism.  It regulates the body’s acid/alkaline pH balance.</p>
                <p>For each pH bases point (e.g. 6.1 or 6.2) the oxygen level is increased ten times.  To put it mildly, liquid molybdenum is an incredible oxygenator.</p>
                <p>As a result of its ability to oxygenate, liquid molybdenum is a fat burner converting fat to energy.  When the body is deficient in molybdenum, like a wood stove that lacks oxygen, it becomes sluggish, smoky, and an inefficient fat storing machine.  Many metabolic dysfunctions can be traced back to molybdenum deficiency.</p>
                <p>When the body is nutritionally sound with ample stores of liquid molybdenum, it becomes a highly efficient, energetic, fat burning machine.</p>
                <p>Molybdenum deficiency is associated with cancer, male impotency, mouth and gum disorders</p>
                <p>Molybdenum helps free iron from the liver.  It works with the body enzyme pathway to help eliminate nitrogen waste byproducts by turning them into uric acid, which is then readily eliminated</p>
                <p>Molybdenum promotes general wellbeing and helps convert carbohydrate metabolism to energy.  It increases libido, strengthens dental enamel, and induces sleep.</p>
                <p>Because of molybdenum’s ability to raise the body’s pH and in effect alkalize the body, it may be beneficial in the treatment of cancer, viruses, and parasites.</p>

                Natural food sources of molybdenum:
                Kale                               Oat groats                               Organic meats
                Liver                              Green peas                              Nutritional yeast
                Spinach                         Black beans                              Raw wheat germ
                Romaine                        Steel cut oats

                Naturopathic food medicine formulas:
                Green gorilla
                Spinach juice powder
                Chinese pea pod powder
                Garden food juice powder
                Super blood building broth
                Hickory smoked good tasting nutritional yeast

                Phytonutrient/nutraceutical supplements:
                Endurill                Green gorilla                  Super juice plus 21 vegetables

                Some symptoms of molybdenum deficiency:
                Gout                              Low pH                                   Candidiasis
                Acne                              Cirrhosis                                 Bell’s palsy
                AIDS                             Diabetes                                  High toxicity
                E. Coli                           Acidosis                                  Athletes foot
                Lupus                           Pale skin                                  Canker sores
                Herpes                           Parasites                                  Lyme disease
                Cancer                           Allergies                                  Epstein bar virus
                Anemia                          Insomnia                                 Prostate infection
                Eczema                          Colds/flu                                  Bladder infection
                Obesity                          Brain fog                                 Multiple sclerosis
                Asthma                          Impotency                               Liver dysfunction
                Obesity                          Ring worm                              Chemical exposure
                Anthrax                         Depression                              Gulf war syndrome
                Cavities                          Hepatitis C                              Environmental disease

            </div>
        </div>
    </div>
</div>
