@{
    ViewBag.Title = "Platinum";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Platinum</p>
                <p>Nature’s Chemo-Nutrient</p>

                <p>Platinum was used successfully over 150 years ago in the treatment of cancer.  It is still used in its synthetic pharmaceutical form as a base in some chemotherapeutic treatments.</p>
                <p>In naturopathic medicine we believe that platinum as well as all other trace minerals must be used in its natural form in order to be used by the body.</p>
                <p>In the early 1970’s, platinum was used in the dye used in x-rays for women’s breasts.  Breast lumps reportedly began shrinking and even disappearing after the use of the dye.  Many physicians and scientists at the time believed the platinum in the dye caused the shrinking and remission.  Since then platinum has been replaced with radioactive dyes.</p>
                <p>Liquid platinum has been used effectively by naturopathic doctors in killing disease causing bacteria, fungus, and viruses.  It is also used to boost the immune system.</p>

                Some symptoms of platinum deficiency:
                PMS
                Cancer
                Insomnia
                Brain fog
                Neuralgia
                Headaches
                Brain injury
                Poor memory
                Frequent colds
                Nerve damage
                Chronic fatigue
                Viral conditions
                Fungus conditions
                Poor concentration
                Weak immune system

            </div>
        </div>
    </div>
</div>
