@{
    ViewBag.Title = "Potassium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Potassium</p>
                <p>Nature’s Acid Neutralizer</p>

                <p>Potassium is an essential mineral for the heart, regular heart rhythm, and nervous system.  Potassium helps to prevent stroke.  It aids in proper muscle contraction and works in conjunction with sodium in controlling the body’s fluid balance.</p>
                <p>Potassium is important for chemical reactions within the cells and aids in maintaining stable blood pressure and in transmitting electrochemical impulses.  Potassium also regulates the transfer of nutrients through cell membranes.  This important function of potassium has been shown to decrease with age.  This may explain some of the circulatory damage, lethargy, and weakness experienced by older people.</p>
                <p>Potassium is a great alkalizer.  It neutralizes acids and restores vital alkaline salts to the blood stream.  Potassium helps magnificently in building the body’s natural recuperative powers.   It aids in rheumatic and arthritic conditions by drawing acids out of joints and easing stiffness.</p>
                <p>Potassium is a powerful detoxifier, essential for the elimination of wastes.  It is a natural pain desensitizer.  It helps control convulsions, headaches, and migraines.</p>
                <p>Potassium promotes faster healing of cuts, bruises, flu, colds, and other injuries.</p>
                <p>Potassium is a muscle and heart element.  Its reserves are stored in the muscles.  It contributes to a sense of wellbeing.</p>

                Natural food sources of potassium:
                Figs                                Olives                            Goat milk
                Kelp                               Squash                           Dandelion
                Kale                               Spinach                          Brown rice
                Yams                             Peaches                          Potato skins
                Dates                             Bananas                         Torula yeast
                Beets                              Broccoli                         Brewer’s yeast
                Dulse                             Apricots                         Raw wheat germ
                Garlic                             Avocados                       Blackstrap molasses

                Naturopathic food medicine formulas:
                Garden food                                              Beet juice powder
                Irish moss/Kelp                                          Super K longevity tonic
                Garden of Eden                                          Vegetarian potassium broth
                Banana goat milk                                       Grandpa’s blackstrap molasses

                Potassium herbs:
                Sage                     Skullcap               Red clover
                Nettle                    Horsetail              Spirulina
                Plantain

                Phytonutrient/nutraceutical supplements:
                24 super minerals
                Nature’s alkalizers
                Super juice plus 22 fruits
                Super juice plus 21 vegetables

                Symptoms of potassium deficiency:
                Acne                              Depression                              Blush tint to skin
                Chills                             Constipation                            Muscular fatigue
                Thirst                              Nervousness                          Periodic headaches
                Edema                            Salt retention                           Growth impairment
                Nausea                           Intestinal pain                         Inability to recover
                Diarrhea                         Tissue anemia                          Glucose intolerance
                Dry skin                         Fluid retention                         Respiratory distress
                Diabetes                         Swollen glands                        Low blood pressure
                Earaches                        Protein in urine                        Oppressive breathing
                Insomnia                        Poor circulation                       Electrolyte imbalance
                Vomiting                        Rapid heart beat                      Cognitive impairment
                Brain fog                        High cholesterol                      Fluctuations in heartbeat
                Weakness                       Prolapsed uterus                     Chronic fatigue syndrome

            </div>
        </div>
    </div>
</div>
