@{
    ViewBag.Title = "Selenium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Selenium</p>
                <p>Nature’s Youth Element</p>

                <p>Selenium protects the immune system by preventing the formation of free radicals.  It is preventive against the formation of tumors</p>
                <p>Selenium and vitamin E work synergistically as a team to aid in the production of antibodies and help maintain a healthy heart and liver.  This trace element is needed for proper pancreatic function and tissue elasticity.  When combined with zinc it may also provide relief from an enlarged prostate.  Selenium has been found to protect the liver, especially with people with an alcoholic or cirrhosis history.</p>
                <p>Selenium’s primary function is to inhibit oxidation of lipids.  Deficiency of selenium is linked to both cancer and heart disease.  It is also linked to enervation/ exhaustion type diseases, high cholesterol, liver impairment, pancreatic insufficiency, sterility, diabetes, and inability to recover or recuperate.</p>
                <p>Selenium enhances fertility, encourages tissue elasticity, reduces the retention of toxic metals in the body, and protects against cancer.</p>
                <p>The people of Norfolk England are said to be among some of the longest living people on earth.  Scientists believe it is due to the high concentrations of selenium in the soil.  A low level of selenium in the soil has long been associated with higher cancer rates.  The lower the selenium the higher the general cancer rate.  The higher the selenium in the soil, the lower the general cancer rates.</p>

                Natural food sources of selenium:
                Kelp                     Yogurt                           Brown rice
                Tuna                     Salmon                          Wheat germ
                Liver                     Chicken                          Torula yeast
                Dulse                    Broccoli                         Organic meats
                Garlic                    Molasses                        Brewer’s yeast
                Onions                 Brazil nuts

                Naturopathic food medicine formulas:
                Super yeast                             Amino acid broth
                Tiger’s food                             Good tasting nutritional yeast
                Irish moss/kelp                        Grandpa’s blackstrap molasses
                Selenium broth                        Naturopathic purification powder

                Selenium herbs:
                Garlic                  Rose hip                        Peppermint                      Ginseng
                Catnip                  Uva ursi                         Chamomile                    Chickweed
                Alfalfa                  Cayenne                         Fennel seed                  Hawthorn berry
                Parsley                 Oat straw                       Yellow dock
                Yarrow                 Fenugreek                      Burdock root

                Phytonutrient/nutraceutical supplements:
                Sea life
                Chinese garlic
                Super endurance
                Selenium complex
                Blood sugar and energy stabilizer

                Symptoms of selenium deficiency:
                Cancer                           Heart disease                       Liver dysfunction
                Anemia                          Cystic fibrosis                       Sickle cell anemia
                Fatigue                           Age/liver spots                 Pancreatic atrophy
                Scoliosis                        Premature aging              Parkinson’s disease
                Cirrhosis                        Cardiomyopathy               Muscular dystrophy
                Infertility                        Multiple sclerosis            Immune deficiencies
                Pancreatitis                    Heart palpitations
                Alzheimer’s                    Muscle weakness

            </div>
        </div>
    </div>
</div>

