@{
    ViewBag.Title = "Silver";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Silver</p>
                <p>Nature’s Antibiotic</p>

                <p>Silver was used effectively as an antibiotic for hundreds of years before modern day patented pharmaceuticals came into existence.  Silver is a systemic disinfectant and acts as a secondary immune system.</p>
                <p>Since silver kills only bacteria that is anaerobic or nitrogen breathing, the friendly bacteria in the digestive tract are immune to it due to the fact that they are oxygen breathing (aerobic).  Silver, therefore, kills the bad guys, but not the good guys.</p>
                <p>What the naturopathic community has actually done is rediscover the fact of medical science and medical history that has been lost for almost 100 years of drug, drug, drug medicine, and that is that silver kills bad bacteria.  The International Drug Trust attempted to discard any information about silver forever.</p>
                <p>Silver is of course a trace mineral.  We don’t need a lot of it, but our bodies need it in small amounts.  When the body becomes deficient in silver our bodies become far more subject to illness and disease of every kind.  On the other hand, when the body has sufficient silver, it acts as a second immune system.</p>
                <p>When liquid silver comes in contact with pathogens, toxins and disease organisms it actually disables the invading organism’s internal functions.  Silver is a catalyst disabling the particular enzyme that all one cell bacteria, fungus, and viruses use for their metabolism.  Viruses are destroyed because the electric charge of silver particles, causing their internal protoplast to collapse and they are rendered unable to reproduce.  Within a few minutes the disease organism is destroyed and is then cleared out of the body through the lymphatic and elimination systems.</p>
                <p>Unlike harmful pharmaceutical antibiotics, which kill everything including the body’s good flora and beneficial enzymes, water-soluble silver does not cause the long-term, harmful, so-called side effects we experience with pharmaceutical antibiotics.</p>
                <p>Remember the term “side effect” is a Madison Avenue term designed to cover up the real issue when we take drugs and that is the poisoning effect.  When you hear the term “side effect” think and then repeat to yourself out loud “poisoning effect.”  This is a scientific fact that is glossed over and candy coated by the mainstream media.  Drug medicine is a system of poisoning.  Symptoms are suppressed by poisoning another system into crisis.</p>
                <p>Silver has been used for decades in hospitals to protect newborn’s eyes from the possible effects of the mother’s gonorrhea.</p>

                Symptoms of silver deficiency:
                Flu                                 Shingles                         Ring worms
                Acne                              Impetigo                        Athlete’s foot
                Colds                             Parasites                        Ear infections
                Boils                              Infection                         Tuberculosis
                Burns                             Influenza                        Staphylococci
                Warts                             Diphtheria                     Bladder irritation
                Colitis                            Tonsillitis                       Whopping cough
                E. Coli                           Dermatitis                      Enlarged prostate
                Cystitis                          Dysentery                      Intestinal imbalance
                Eczema                          Gonorrhea                     Cerebrospinal meningitis
                Candida                         Pneumonia

            </div>
        </div>
    </div>
</div>


