@{
    ViewBag.Title = "Sulfur";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Sulfur</p>
                <p>Nature’s Free Radical Neutralizer</p>

                <p>Sulfur is an acid forming mineral that is part of the chemical structure of the amino acids methionine, cysteine, taurine, and glutathione.  Sulfur disinfects the blood, helps the body to resist bacteria and protects the protoplasm of cells.</p>
                <p>Sulfur aids in the body’s oxidation reaction, stimulates bile secretion, and protects against toxic substances.  Because of its ability to protect against the harmful effects of radiation, pollution and environmental effects, sulfur slows down the aging process.  It is found in hemoglobin, all body tissues, and is needed for the synthesis of collagen, a principle protein that gives the skin its structural integrity.</p>
                <p>Sulfur is known as a healing mineral.  It aids every cell of the body in eliminating toxic substances through agitation.  Sulfur is the flexible bond that connects cells.  It is the lubricant found between joints.  A deficiency in sulfur can lead to a variety of conditions ranging from skin irritations and rashes to total breakdown of cellular regeneration.  Pain and inflammation associated with various muscle and skeletal disorders indicate a deficiency in sulfur.</p>
                <p>Sulfur is the healing element that is necessary to repair the myelin sheath, the protector on the end of every nerve cell in the body.  Damage to the myelin sheath causes the shaking conditions in palsy, multiple sclerosis, Lorenz’s disease, and many other types of conditions.</p>
                <p>Chronic and severe allergies can be relieved with liquid sulfur.  As well as respiratory congestion, inflammation, and itching.  Sulfur increases blood circulation, reduces back pain, relieves migraine headaches, promotes muscle healing, scavenges free radicals, beautifies the skin, relieves metabolism, and speeds wound healing.</p>

                Natural food sources of sulfur:
                Fish                      Garlic                                      Cauliflower
                Kale                      Onions                           Horseradish
                Meat                     Cabbage
                Eggs                     Cranberries

                Naturopathic food medicine formulas:
                Sulfur broth                 Cruciferous vegetables                      Naturopathic powder

                Phytonutrient/Nutraceuticals supplements:
                Alpha sulflex                                    Cranberry juice complex
                Chinese garlic                                    Super juice plus 21 vegetables
                Naturopathic capsule                        Bone, joint & cartilage relief formula

                Symptoms of sulfur deficiency:
                Acne                              Joint pain                                Skin disorders
                Stress                            Migraines                                 Wound healing
                Tension                          Backache                                 Nerve disorders
                Arthritis                         Bone pain                                Muscle cramping
                Diabetes                         Back pain                                Free radical damage
                Dry skin                         Alkalosis                                 Circulatory problems
                Infection                         Muscle pain                            Connective tissue pain
                Allergies                         Inflammation                           Urinary tract disorders
                Wrinkles                        Stomach acid

            </div>
        </div>
    </div>
</div>