@{
    ViewBag.Title = "Vanadium";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                <p>Vanadium</p>
                <p>Nature’s Bio-energy Stabilizer</p>

                <p>Vanadium lowers elevated blood sugar.  It helps prevent diabetes, hypoglycemia, and other blood sugar abnormalities.  It is estimated that eighty million Americans exhibit some of the symptoms of diabetes such as insulin resistance, excess insulin release, high triglycerides, high blood sugar, chronic weight gain, storing excess body fat, frequent urination, chronic thirst, brain fog, personality change, and fatigue.  If we were to include hypoglycemic symptoms, we could easily include the majority of Americans in this syndrome.</p>
                <p>Vanadium regulates the circulatory system, helps reducing cholesterol levels and restores the central nervous system.  It is also believed to help reduce the incidence of crippling, strong, and sudden heart attacks.</p>
                <p>Vanadium is needed for cellular metabolism and for the formation of bones, nerves, and teeth.  It plays an important role in cellular regeneration, recuperation, and growth, and it inhibits cholesterol synthesis.</p>
                <p>Vanadium deficiency may be linked to cardiovascular and kidney disease, impaired reproductive ability, and increased infant mortality.  Vanadium is not easily absorbed.  Vanadium, when used in combination with chromium, has been found to be very beneficial in dealing with mineral deficiencies found in diabetics and hypoglycemics.</p>

                Natural food sources of vanadium:
                Dill                                 Cold water fish
                Olives                            Raw wheat germ
                Radishes                        Cold pressed flax oil
                Snap beans

                Naturopathic food medicine formulas:
                Garden of Eden
                Amino acid broth (fish)

                Symptoms of vanadium deficiency:
                Obesity                                             Hyperinsulinism
                Fatigue                                              High triglycerides
                Diabetes                                            Metabolic dysfunction
                Infertility                                           Cardiovascular disease
                Hypoglycemia                                   Pancreatic dysfunction
                High cholesterol

            </div>
        </div>
    </div>
</div>