@{
    ViewBag.Title = "Zinc";
}

<div class="big-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <p>Use this area to provide additional information.</p>

                Zinc
                Nature’s Power Healer

                This essential mineral is important in prostate gland function and the nourishment of the reproductive organs.  Zinc may help prevent acne and regulate the activity of the oil glands.  It is also required for protein synthesis, collagen formation, healing of wounds and promotes a very healthy immune system.
                Zinc allows acuity of taste and smell.  It protects the liver from chemical damage and is vital for bone formation.  Zinc is a constituent of insulin and many vital enzymes, including the antioxidant enzyme Superoxide Dismutase (SOD).  It also helps to fight and prevent the formation of free radicals in other ways.
                A deficiency of zinc may result in the loss of the senses of taste and smell.  Zinc levels may be lowered by diarrhea, kidney disease, cirrhosis of the liver, diabetes, or the consumption of fiber, which causes zinc to be excreted through the intestinal tract.  A significant amount of zinc is lost through perspiration.  The consumption of hard water or so-called mineral water can also upset zinc levels.
                A deficiency of zinc can lead to a wide variety of degenerative diseases and diseases.  Zinc deficiency is common due to depletion of our soil and losses with food processing.  Zinc aids in the proper assimilation of vitamins, normal growth and development, maintenance of body tissues, sexual function, immune system, chemical detoxification, synthesis of DNA, and helps reduce healing time both before and after surgery.  Zinc is a powerful antioxidant.  It must be available to assist 25 different enzyme activities involving digestion, metabolism, and reproduction.
                In the 1800s surgeons used zinc as an antiseptic/antibiotic after surgery.  It was a powerful healing agent back then as is now.  Lack of zinc in pregnant women can result in numerous birth defects including down’s syndrome, cleft lip, spinabifida, clubbed limbs, hiatal hernia, and umbilical hernias.  Zinc is an antibacterial and antiviral.  It is found in all the body fluids including moisture in eyes, lungs, nose, urine, semen, and saliva.

                Natural food sources of zinc:
                Fish                                Sardines                                  Mushrooms
                Liver                              Legumes                                  Torula yeast
                Lamb                             Egg yolks                                Brewer’s yeast
                Pecans                            Soy beans                                Pumpkin seeds
                Parsley                           Lima beans                              Sunflower seeds
                Poultry                           Soy lecithin

                Naturopathic food medicine formulas:
                Zinc broth                                Samson’s meal
                Super yeast                             Amino acid broth

                Herbs containing zinc:
                Sage                               Skullcap                         Chamomile
                Hops                              Rose hip                        Milk thistle
                Nettle                                       Eyebright                       Sarsaparilla
                Alfalfa                            Wild yam                       Fennel seed
                Parsley                           Dandelion                      Burdock root
                Mullein                          Chickweed

                Phytonutrient/Nutraceutical supplements:
                Endurill
                RNA/DNA
                Nature’s healer
                Prostate protector
                Eyebright formula
                Prostate master formula

                Symptoms of zinc deficiency:
                PMS                               Depression                     High cholesterol
                Acne                              Alcoholism                    Loss of sex drive
                Herpes                           Eye disease                    Enlarged prostate
                Angina                           Alzheimer’s                     Thyroid disorders
                Anemia                          Skin lesions                    Anorexia/Bulimia
                Obesity                          Slow healing                  Reoccurring colds
                Cavities                          Loss of taste                  Free radical damage
                Hair loss                        Miscarriages                  Slow wound healing
                Diabetes                         Birth defects                  Memory impairment
                Infection                         Hypertension                 Impaired night vision
                Infertility                        Loss of smell                  Weak immune system
                Still births                      Loss of libido                 Urinary tract disorders
                Body odor                     Undue fatigue                Fingernail’s peeling or white spots
                Impotency                      Crohn’s disease

            </div>
        </div>
    </div>
</div>