<div ng-controller="HotelsCancelController as cancel">
<section class="top-25px">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-heading">
					<h1>Reservation Cancellation</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section ng-if="!cancel.bookingData">
    <div ng-init="cancel.getBookingData()"></div>
</section>
<section ng-if="cancel.bookingData">
			<form class="form-inline form-checkout">

			<div class="container-fluid">
				 
					<div class="col-content">

						<div class="content-format btm-25px">
							<hgroup>
								<h2 ng-if="cancel.showInitialInfo">Personal Information</h2>
                                <h2 ng-if="cancel.success && !cancel.errorMessage">Your Reservation Has Been Cancelled</h2>
                                <h2 ng-if="cancel.errorMessage">{{cancel.errorMessage}}</h2>
							</hgroup>
							<div class="container-box">
								<div class="container-spacer">
									<div class="details__hotel-summary clearfix">
										<figure>
											<a href="#"><img ng-src="{{cancel.cancelData.hotel_image_url}}" alt="" class="img-responsive"></a>
										</figure>
                                        <hgroup>
                                            <h3>
                                                {{cancel.cancelData.hotel_name}}
                                                <ul class="review-stars">
                                                    <li ng-repeat="star in cancel.stars | limitTo : cancel.cancelData.star_rating" class="fa fa-star stars-5"></li>
                                                    <li hotel-stars stars="cancel.cancelData.star_rating" class="fa fa-star-half stars-5"></li>
                                                </ul>
                                            </h3>
                                            <h4>{{cancel.cancelData.address1}}, {{cancel.cancelData.address2}}<br />
                                                {{cancel.cancelData.city}} {{cancel.cancelData.state_province}}, {{cancel.cancelData.country}} {{cancel.cancelData.postal_code}} <br />
                                                {{cancel.cancelData.hotel_phone}} 
                                            </h4>
                                        </hgroup>
									</div>
 
									<div class="mod__ul-span-cols">
										<ul>
											<li><span>Room</span> <strong>{{cancel.cancelData.num_rooms}}</strong></li>
                                            <li><span>Room Name</span> <strong>{{cancel.cancelData.room_type}}</strong></li>
											<li>
												<span>Reservation Name</span> <strong>{{cancel.cancelData.guest_name}}</strong>
											</li>
											<li>
												<span>{{cancel.cancelData.checkin | date : 'EEEE'}}, {{cancel.cancelData.checkin | date : fullDate}} - {{cancel.cancelData.checkout | date : 'EEEE'}}, {{cancel.cancelData.checkout | date : fullDate}}</span> <strong>{{cancel.cancelData.num_nights}} Nights</strong>
											</li>
                                            <li>
                                                <span>Number of Adults</span> <strong>{{cancel.cancelData.num_adults}}</strong>
                                            </li>
                                            <li>
                                                <span>Number of Children</span> <strong>{{cancel.cancelData.num_children}}</strong>
                                            </li>
										</ul>
									</div>
									<p ng-bind-html="cancel.cancelData.cancel_policy"></p>
								</div>

							</div>
						</div><!-- end checkout__personal-info -->
						<!-- end terms and conditions -->
						<!-- will show only on desktop view -->
						<div class="btn-container lowercase-buttons">
							<ul ng-if="cancel.showInitialInfo">
								<li><button class="btn btn-primary" ng-click="cancel.doCancel()">Cancel this Room</button></li>
								<li><button class="btn btn-default" ui-sref="index">Do not Cancel</button></li>
							</ul>
                            <ul ng-if="!cancel.showInitialInfo">
                                <li><button class="btn btn-primary" ui-sref="index">Home</button> </li>
                            </ul>
						</div>
					</div>
					<!-- end col-sm-8 -->
					<div class="col-sidebar">

 						<!-- booking summary -->
						<div class="mod__ul-span-cols checkout__booking-summary" ng-if="cancel.preCancel">
									<hgroup>
										<h2>Payment Summary</h2>
									</hgroup>
									<div class="container-box">
										<div class="container-spacer">
											<ul class="checkout__hotel-summary">
												<li>
													<span>
                                                        Charged To Card<br/>
													</span>
													<label ng-bind-html="cancel.cancelData.paid.card_amount | customCurrency : cancel.currencyFormat"></label>
												</li>
                                                <li ng-if="cancel.cancelData.paid.dbc_amount > 0">
                                                    <span>
                                                        Savings Credits <br/>
                                                    </span>
                                                    <label ng-bind-html="cancel.cancelData.paid.dbc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                                </li>
                                                <li ng-if="cancel.cancelData.paid.vc_amount > 0">
                                                    <span>
                                                        Vacation Cash <br />
                                                    </span>
                                                    <label ng-bind-html="cancel.cancelData.paid.vc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                                </li>
                                                <li ng-if="cancel.cancelData.paid.cb_amount > 0">
                                                    <span>
                                                        <label ng-bind-html="cancel.cashBackLabel"></label><br />
                                                    </span>
                                                    <label ng-bind-html="cancel.cancelData.paid.cb_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                                </li>
                                                <li ng-if="cancel.cancelData.paid.cb_amount == 0">
                                                    <span>
                                                        Total Paid <br />
                                                    </span>
                                                    <label ng-bind-html="cancel.cancelData.paid.total | customCurrency : cancel.currencyFormat"></label>
                                                </li>
											</ul>
										</div><!-- end container-spacer -->
										<div class="checkout__discounts">
											<div class="container-spacer">
												<ul>
                                                    <li>
                                                        <span>
                                                            Credit Card Refund <br/>
                                                        </span>
                                                        <label ng-bind-html="cancel.cancelData.refund.card_amount | customCurrency : cancel.currencyFormat"></label>
                                                    </li>
                                                    <li ng-if="cancel.cancelData.refund.dbc_amount > 0">
                                                        <span>
                                                            Savings Credits <br/>
                                                        </span>
                                                        <label ng-bind-html="cancel.cancelData.refund.dbc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                                    </li>
                                                    <li ng-if="cancel.cancelData.refund.vc_amount > 0">
                                                        <span>
                                                            Vacation Cash <br/>
                                                        </span>
                                                        <label ng-bind-html="cancel.cancelData.refund.vc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                                    </li>
                                                    <li ng-if="cancel.cancelData.paid.cb_amount == 0">
                                                        <span>
                                                            Refund Total <br />
                                                        </span>
                                                        <label ng-bind-html="cancel.cancelData.refund.total | customCurrency : cancel.currencyFormat"></label>
                                                    </li>
												</ul>
											</div>
										</div>
										<div class="container-spacer">
											<!--<p ng-bind-html="cancel.cancelData.refund_policy"></p>-->
											<!--<a href="#">When will I get my refund?</a>-->
										</div><!-- end container-spacer -->
									</div><!-- end container-box -->
						</div>
                        <!-- end checkout__booking-summary -->

                        <!-- cancellation booking summary -->
                        <div class="mod__ul-span-cols checkout__booking-summary" ng-if="!cancel.preCancel">
                            <hgroup>
                                <h2>Refund Summary</h2>
                            </hgroup>
                            <div class="container-box">
                                <div class="checkout__discounts">
                                    <div class="container-spacer">
                                        <ul class="checkout__hotel-summary">
                                            <li>
                                                <span>
                                                    Credit Card Refund<br/>
                                                </span>
                                                <label ng-bind-html="cancel.cancelled.Refund.card_amount | customCurrency : cancel.currencyFormat"></label>
                                            </li>
                                            <li ng-if="cancel.cancelled.Refund.dbc_amount > 0">
                                                <span>
                                                    Savings Credits <br/>
                                                </span>
                                                <label ng-bind-html="cancel.cancelled.Refund.dbc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                            </li>
                                            <li ng-if="cancel.cancelled.Refund.vc_amount > 0">
                                                <span>
                                                    Vacation Cash <br/>
                                                </span>
                                                <label ng-bind-html="cancel.cancelled.Refund.vc_amount | customCurrency : cancel.currencyFormat : 0"></label>
                                            </li>
                                            <li ng-if="cancel.cancelData.paid.cb_amount == 0">
                                                <span>
                                                    Refund Total <br />
                                                </span>
                                                <label ng-bind-html="cancel.cancelled.Refund.total | customCurrency : cancel.currencyFormat"></label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="container-spacer">
                                    <!--<p ng-bind-html="cancel.cancelData.refund_policy"></p>-->
                                    <!--<a href="#">When will I get my refund?</a>-->
                                </div><!-- end container-spacer -->


       
                        </div><!-- end checkout__booking-summary -->
                        </div>

						<!-- will show only on mobile view -->
						<div class="btn-container lowercase-buttons">
							<ul ng-if="cancel.showInitialInfo">
								<li><button class="btn btn-primary" ng-click="cancel.doCancel()">Cancel this Room</button></li>
								<li><button class="btn btn-default" ui-sref="index">Do not Cancel</button></li>
							</ul>
                            <ul ng-if="!cancel.showInitialInfo">
                                <li><button class="btn btn-primary" ui-sref="index">Home</button> </li>
                            </ul>
						</div>

					</div>
				 
			</div>
			</form>
		</section>
</div>