<footer ng-controller="FooterController as footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-border">
                        <div class="copyright" ng-bind-html="main.currentSession.display_options.labels.copyright"></div>
                        <div class="footer-links">
                        <ul ng-repeat="footerItem in main.currentSession.display_options.footers">
                            <li><a ng-click="main.displayFooterPopup(footerItem.text_link, footerItem.link_href)">{{footerItem.text_link}}</a></li>
                        </ul>
                    </div>
                </div><!-- end footer border -->
            </div><!-- end col-sm-12 -->
        </div><!-- end row -->
    </div><!-- end container fluid -->
</footer><!-- end footer -->
