<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=143.95.251.10;User Id=abundared;database=abundablood;Password=pH@2#zItfV9Y;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReceiverEmail" value="pankajt2000@hotmail.com" /><!-- Semicolon separated -->
    <add key="ReceiverEmailBCC" value="pankajt2000@hotmail.com" />
    <add key="EmailMode" value="OFF" />
    <add key="ProjectName" value="My Abunda Life" />
    <add key="SiteURL" value="http://www.abundalife.com/bloodtest2/" />
    <add key="SiteKey" value="abunda-p" />
    <add key="PhysicalPath" value="E:\HostingSpaces\tazmanri\abundalife.com\wwwroot\bloodtest2\" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="MySql.Data, Version=6.6.5.0,Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.6.5.0, Culture=neutral,PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.6.5.0, Culture=neutral,PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"></authentication>
    <pages enableViewStateMac="true"></pages>
    <machineKey validationKey="5C6BDD6E8CBA052A92CF009A46FFDD3A89517CD8CC73573C20E0DC0F923E1642D0D17E0FD8F1CD5DE40A3353E89D094B6C356B9B8FF6D3BBD2D234A84EAB16CD" decryptionKey="DBF854D58E7232E7A46D0750CB60B87A61DE87044D409238A2F594B96E3B69D8" validation="SHA1" decryption="AES" />
    <customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
    <trust level="Full" originUrl=".*" />
  </system.web>
</configuration>