<div class="panel panel-primary">
    <div class="panel-heading">
        <!--Device List-->
        {{ pageTitle }}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: </h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>List Of Devices In Registry</h3>
            </div>
        </div>
        <div class='table-responsive'>
            <!--<table class='table' *ngIf='products && products.length'>-->
            <table class='table' *ngIf='devices && devices.Devices.length'>
                  <!--<table class='table' *ngIf='devices && devices.length'>-->
                <thead>
                    <tr>
                        <!--<th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>-->
                        <th>Device ID</th> 
                        <th>Device Status</th>
                        <th>Staged Manifest</th>
                        <th>Archived Manifests</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr *ngFor='#product of products'>-->
                    <tr *ngFor='#device of devices.Devices'>
                        <!--<td>
                        </td>-->
                        <!--<td> 
                            {{product.productName}}
                        </td>-->
                        <td>{{ device.DeviceId }}</td>
                        <td>{{ device.DeviceStatus }}</td>
                        <td>{{ device.StagedManifestIdList }}</td>
                        <td>{{ device.PendingTimeStamp}}</td>
                        <!--<td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td>
                        <td>{{product.starRating}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>