<!-- room -->
<div ng-repeat="room in details.detailsReturned.RoomsAvailable">
    <table class="table details__rooms-table">
        <tr>
            <td class="table-block__room-photo">
                <img ng-src="{{room.available_room_type_image}}" alt="">
            </td><!-- end table-block__room -->
            <td class="table-block__room-details">
                <h3>{{room.available_room_type_name}}</h3>
                <p ng-bind-html="room.available_room_type_description | html"></p>
            </td><!-- end table-block__room -->
            <td class="table-block__room-pricing">
                <div ng-if="details.daily == 'true'">
                    <ul class="savings-breakdown savings-breakdown--retail" ng-if="details.currentSession.user.currentSession.display_options.options.show_bundled_price == 'true'">
                        <li>Market Rate: <span ng-bind-html="room.available_daily_market_total | customCurrency : details.currencyFormat"></span></li>
                        <li class="pricing-notice"><small>Nightly price including taxes</small></li>
                    </ul>
                    <ul class="savings-breakdown savings-breakdown--retail" ng-if="details.currentSession.user.currentSession.display_options.options.show_bundled_price == 'false'">
                        <li>Market Rate: <span ng-bind-html="room.available_daily_market_rate | customCurrency : details.currencyFormat"></span></li>
                        <li class="pricing-notice"><small>Nightly price not including taxes</small></li>
                    </ul>
                </div>
                <div ng-if="details.daily == 'false'">
                    <ul class="savings-breakdown savings-breakdown--retail" ng-if="details.currentSession.user.currentSession.display_options.options.show_bundled_price == 'true'">
                        <li>Market Rate: <span ng-bind-html="room.available_market_total_stay | customCurrency : details.currencyFormat"></span></li>
                        <li class="pricing-notice"><small>Total price including taxes</small></li>
                    </ul>
                    <ul class="savings-breakdown savings-breakdown--retail" ng-if="details.currentSession.user.currentSession.display_options.options.show_bundled_price == 'false'">
                        <li>Market Rate: <span ng-bind-html="room.available_total_market_rate | customCurrency : details.currencyFormat"></span></li>
                        <li class="pricing-notice"><small>Total price not including taxes</small></li>
                    </ul>
                </div>
            </td><!-- table-block__room-pricing -->
            <td class="table-block__room-checkout">
                <button class="btn btn-checkout--red" ng-click="book.chooseRoom(room);">Checkout</button>
                <div style="color:white" ng-bind-html="room.original_member_price"></div>
                <small ng-if="room.available_is_non_refundable">This room is non refundable</small>
            </td><!-- end table-block__room-checkout-->
        </tr>
    </table>
</div>
<!-- room end -->
